[2014-06-18 23:17] calbiston opened #1 "Add listTitle, or its equivalent, attribute to <s:select> tag"
Enhancement Request:

Request an enhancement to the struts2 plugin select tag. Request an additional attribute something like listTitle (similar to listKey and listValue) that will provide the property name from which to get the title attribute (tooltip) for the underlying option element.

Thanks.

[2014-06-19 20:24] calbiston opened #2 "Showcase Grid with Subgrid unresponsive after loading"
What steps will reproduce the problem?
1.http://struts.jgeppert.com/struts2-jquery-grid-showcase/index.action
2.Click on Grid with Subgrid

What is the expected output? What do you see instead?
1.The green Loading... notification does not go away although the grid has loaded.
2.No buttons or arrows or select boxes in the navigator or top pager work except View selected row.  The Search dialog open

[2014-06-19 21:18] calbiston opened #3 "formIds attribute not working"
The formIds attribute does not appear to be working. Expect it to work similar to the grid component.

Which struts2 version?
struts2-core-2.3.15.1

Which struts2-jquery plugin version?
struts2-jquery-tree-plugin-3.6.1

Please provide any additional information below.

Apr 10, 2014
Project Member #1 johgep

Please provide an example application or describe this issue more detailed.

Owner: johgep

[2014-06-19 21:20] calbiston opened #4 "sjg grid filterOptions defaultSearch; 'bw' results in default search op always 'eq'"
Changing the default search option has no effect. I've tried setting it in the grid tag filterOptions and the grid column searchoptions to no avail.
What steps will reproduce the problem?
1. make a searchable grid with defaultSearch something other than 'eq'
2. type something in the filtertoolbar and hit enter
3. look at the json filters (op is 'eq')

multi-search works fine. This is just the sear

[2014-06-23 19:27] calbiston opened #5 "Upgrade jQuery jstree to 3.0.1"
Upgrade jQuery jstree from 1.0-rc3 to 3.0.1.

[2014-07-04 11:54] haider-ali opened #6 "grid grouping not refreshing properly"
I have following Grid in my page

[code]

and a button

[code]

and in JS I have this

[code]

but what I am seeing is that the grid populates with new data but the grouping is not cleared; I have to press the reload button on bottom of the grid to refresh the grid, and after that the data representation looks fine.

I have a form in which a grid , anchor and other struts elemets exists, and accor

[2014-07-30 12:58] nickelc opened #7 "Accordion attribute cssStyle is broken"
If the cssStyle attribute is used, the html tag is broken.

see accordion.ftl

[code]

[2014-07-30 14:36] MrMichi opened #9 "SJPlugin - Form not sent"
What steps will reproduce the problem?
1. Create a s:form
2. Fill it with input
3. Put a s:a with formIds of the form created in point 1

What is the expected output? What do you see instead?
Expected output : input values sent to action class
Actual output : form is not sent

Which struts2 version?
2.3.16

Which struts2-jquery plugin version?
3.7.0 and 3.7.1

Please provide any additional informa

[2014-07-31 15:23] #9 closed, assigned to nobody

[2014-08-07 21:52] #4 closed, assigned to jogep

[2014-10-16 08:09] chanjarster opened #10 "lack theme.properties cause include error"
Version: 3.7.1

Below is the error message:

[code]

`/template/jquery/div.ftl` include `/template/simple/div.ftl`, which is in **struts2-core.jar**. And `/template/simple/div.ftl`include `/${parameters.templateDir}/${parameters.expandTheme}/scripting-events.ftl"`, which is evaluate to  `/template/jquery/scripting-events.ftl`, but there is no `scripting-events.ftl` in **struts2-jquery-plugin.jar**

[2014-10-21 01:55] #10 closed, assigned to nobody

[2014-11-13 18:22] pbenedict opened #11 "Allow developer to provide own version of JQuery"
The 'sj:head' element always outputs a 'script' link to JQuery, but there is such an option to control JQueryUI output. I would like to suppress both and be in charge of how I link to them. Please add attribute "jquery" to complement "jqueryui" attribute:

Ex:

[code]

[2014-11-20 05:43] #11 closed, assigned to jogep

[2014-12-03 03:55] sjquser opened #12 "struts jquery subGrid : Display message "no data found" when we expand row to display subGrid."
Hi,
I want to display a message if there is no data when user clicks on row to display subgrid using Struts jquery subGrid.
Please suggest any solution to this problem.

[2014-12-08 12:41] sytolk opened #13 "tabbedpanel double load data - with ajax history enabled"
I have tabs like:

[code]

After first load url is
http://localhost:8081/admin
First tab "clients" is selected and I click on tab mission and I have see in firebug in the same time 2 rows:

[code]

2 json requests is executed and as the result tab is not changed. Only the url have hash:
http://localhost:8081/admin#admintabs=
On the next click all is working fine and tab is changed. Its works too i

[2014-12-08 19:15] calbiston opened #14 "Handle the jQuery grid attribute "unformat" in gridColumn tag"
Custom formatting a column in an editable grid interferes with editing the column.  The unformat attribute takes a custom unformatter which would allow correct editing.

[2014-12-11 06:04] jaydeep987 opened #15 "Improper Documentation Comments in Java classes"
There are documentation comments which are wrong. Like in DatePicker.java file ,
< /p >A Datepicker with Button Panel and select boxes to change year and month.</ p >
 </ p >A Datepicker with different Display Format.</ p >

(*ignore spaces in p tag, i have put because it is not printing in preview)
Here starting p tag is not proper. require < p > tag instead of </ p >.

And same other kind of mis

[2014-12-14 17:37] amolghotankar opened #16 "Support latest struts 2.3.20"
Need to fix few things to make this plugin work with latest struts2 release

[2014-12-22 04:38] afattahi54 opened #17 "sjg:grid rowNum set to -1"
The sjg:grid rowNum documentation mentiones that Set this parameter to -1 (unlimited) to disable
 this checking. Default: 20

I found that the -1 is not supported by jqGrid and if you want to have all rows you should set rowNum to a big number, Setting rowNum to -1 will make jqGrid to show one less row. http://stackoverflow.com/questions/1237096/how-to-show-all-rows-in-the-jqgrid

[2015-01-04 11:59] afattahi54 opened #18 "forceValidOption="false" is not working for sj:autocompleter"
Please open the autocompleter-select.jsp and set the forceValidOption="false" in sj:autocompleter

It still force you to enter data from select box, If you type any text and hit the tab, it will delete the entered text.

[2015-01-05 05:31] afattahi54 opened #19 "Download Snapshot from maven"
I tried to download the snapshot from maven.
I found the the repository is at sonatype. I set the repository as below and set struts 2 jquery plugin version to 4.0.0-SNAPSHOT.
[code]
But the maven could not get it. Any comments ?!

[2015-01-09 08:53] sytolk opened #20 "jqGrid change it`s license"
http://www.trirand.com/blog/?p=1438

I will be good if its have free (for commercial projects) alternative like http://www.datatables.net

[2015-01-09 14:50] sytolk commented on #20
the only one free inline editor for datatables is written for obsolete JQuery version..
https://code.google.com/p/jquery-datatables-editable/

[2015-01-10 11:06] rgielen commented on #20
One alternative could be
https://datatables.net/
MIT license, Bootstrap support and options for inline editing

[2015-01-12 12:22] sytolk commented on #20
http://www.akshitsethi.me/creating-perfect-tables-with-datatables-and-jeditable-jquery-plugins/

[2015-01-12 16:28] jogep commented on #20
I think currently we can just stay with older version of jQgrid and see if
there any forks are coming up.
But anyway support for datatables would also be fine. If i find time I will
try to implement it.
Pull requests are welcome. ;-)

Johannes

#################################################
e-mail: post@jgeppert.com
web: http://www.jgeppert.com
twitter: http://twitter.com/jogep

2015-01-12 13:2

[2015-01-13 04:24] afattahi54 commented on #20
Your are using 4.6.0 and it seems that we can still upgrade to 4.7.0 ( The last version which the license applies is 4.7.1).
Any way, thanks for plugin :+1:

[2015-01-13 08:51] afattahi54 opened #21 "struts2 jquery ajax and client side validation not working together"
This was asked at: http://stackoverflow.com/questions/18684370/struts2-jquery-ajax-and-client-side-validatio-not-working-toghether

The summary is that:
The client side validation should be able to stop the server side ajax be validated, the needed code change has also be presented there.

[2015-01-14 09:32] amolghotankar commented on #21
Thanks @afattahi54 Lets hope this gets merged now

[2015-01-14 13:07] afattahi54 commented on #21
:+1:

[2015-01-20 10:08] sytolk opened #23 "loadAtOnce="true" not display dialog close button"
Maybe some css file is not loaded when I set in head loadAtOnce="true".
Its have visible defects in Dialogs close button and <sj:datepicker

[2015-01-20 10:58] sytolk commented on #23
with loadAtOnce="true"
[code]

with loadAtOnce="false"
[code]

[2015-01-20 18:38] jogep commented on #21
Thank you for the PR. It is merged in brunch release/4.0.0 now.

[2015-01-20 18:42] jogep commented on #19
I use it like this:

    <repositories>
        <repository>
            <id>sonatype.oss.snapshots</id>
            <name>Sonatype OSS Snapshot Repository</name>
            <url>http://oss.sonatype.org/content/repositories/snapshots</url>
        </repository>
    </repositories>

May it is the leading "/" in the url?

[2015-01-20 18:42] #19 closed

[2015-01-26 20:16] joanferns00 opened #24 "<sj:a button="true" disable attribute dont work"
http://code.google.com/p/struts2-jquery/issues/detail?id=470

[2015-02-09 11:06] redhatlinux10 opened #25 "autocompleter control do not refresh the hidden input control's value when user manually type in some thing."
assume i have the following code snippet in my page
[code]
 i can see there are two input controls in the generated html page . one's id is `languages_widget `, the other one 's id is `languages` and is hidden. when user submit form , these two inputs value both are submitted to the server side. and when user select a item in auto completer' list,  `languages` 's value will be synchronized with `l

[2015-02-09 13:01] afattahi54 commented on #25
This may help http://stackoverflow.com/questions/27765367/struts-2-jquery-autocompleter-with-forcevalidoption-false

[2015-02-10 14:01] redhatlinux10 commented on #25
@afattahi54 thanks for your comments. but i have work-arounded my problem. i just think its a bug and need to be fixed.

[2015-03-02 19:52] sytolk opened #26 "jsTree listeners for event"
This is jstree demo page with Ajax server side tree update.
http://www.jstree.com/demo_sitebrowser/
Its have listeners for events
.on('delete_node.jstree'..
.on('create_node.jstree'..
.on('move_node.jstree', func..
I think that this events <sjt:tree needs to have this events or. How to have generated from struts2 plugin $("#some_tree").on('move_node.jstree',function..

[2015-03-03 06:40] sytolk commented on #25
I have language_widget defined in my Action. Why this is ugly :) If you want to have previous typed value you can find it in 'language' if you need the most resent typing it is in 'language_widget' Action properties. Think about usage of previous typing value..

[2015-03-06 15:00] sytolk opened #27 "Java 8 build error"
This is log with Java 8 build.

[code]

This problem not exist with Java 7

http://pastebin.com/WdHDiwGL

[2015-03-11 10:13] sytolk commented on #26
I think Its better to write page JavaScript like this:
[code]

[2015-03-11 10:13] #26 closed

[2015-05-26 18:46] sfergu opened #29 "Grid navigator edit dialog does not refresh record when new record is selected"
Steps will reproduce the problem

Go to the main grid example at http://struts.jgeppert.com/struts2-jquery-grid-showcase/index.action

1.Select a record in the grid showcase
2. click edit
3. click cancel
4. select a different record
5. click edit. note the old record is still in the edit dialog. It should be the newly selected record.

Is there any way to get the navigator edit dialog to refresh w

[2015-05-27 07:46] jogep commented on #25
Have you already tried to set ***forceValidOption*** to false?

[2015-05-27 07:49] jogep commented on #23
In which version does it happens? Do you use a custom theme?

[2015-05-27 15:28] sfergu commented on #29
I have done some more googling and tried to pass recreateForm:true to my edit and add options for the navigator and still can't achieve reload of the contents of the edit dialog.

 navigatorEditOptions="{
                      width: 450,
                      recreateForm: true,
                      reloadAfterSubmit:true,
                      afterSubmit:function(response,postdata){return isEr

[2015-05-28 06:19] sytolk commented on #23
I have check with:
[code]
No I don`t have custom theme. I have use default theme and with bootstrap to check it.

[2015-06-02 07:23] jogep commented on #29
I upgraded the jqGrid version to 4.7.0 and for me it looks like the error is now gone.
Can you please check that with latest 4.0.0-SNAPSHOT?

[2015-06-02 07:24] jogep commented on #20
Just upgraded the jqGrid version in 4.0.0-SNAPSHOT to 4.7.0.

[2015-06-02 09:05] jogep commented on #27
Looks like it is related to this struts2 issue.
https://issues.apache.org/jira/browse/WW-4402

[2015-06-03 23:29] sfergu commented on #29
The error is gone for me as well. Thanks!

On Tue, Jun 2, 2015 at 12:23 AM, Johannes Geppert <notifications@github.com>
wrote:

[2015-08-03 08:44] afattahi54 opened #30 "Is it possible to change a grid row color base on some condition"
Is it possible to change a jqGride row color base on a cell value.
I find this topic http://struts2-jquery-plugin.109969.n3.nabble.com/Struts2-Jquery-Data-Grid-Apply-row-colours-based-on-the-cell-value-td4025297.html but I could not find an solution.

And for jqGrid I found the solution, http://stackoverflow.com/questions/3908171/jqgrid-change-row-background-color-based-on-condition But I don't kn

[2015-08-04 11:57] sytolk commented on #30
You can add topic to grid  onGridCompleteTopics="gridComplete"
and add this JavaScript
[code]

[2015-08-06 08:56] sytolk opened #31 "Server side Validation for <sj: not work"
Hi
I have form with <sj:autocompleter and server side validation
[code]
for the first struts2 <s:textfield validation works but for the <sj:autocompleter not.
[code]
Do you have working server side validation with other <sj: tags or this problem is only with autocompleter?

[2015-08-06 10:47] afattahi54 commented on #30
Thanks ! I will test it

[2015-08-06 10:51] afattahi54 opened #32 "Struts 2 jquery plugin set style the checkbox name and value"
There is a struts 2 form which has a grid in it. The grid has check box for each row which is enabled by setting `sjg:grid multiselect="true"`.

The generated grid has checkboxs. But the checkboxs have different name and they do not have any value.

The checkboxes which I used so far have below structure (Same `name`, Different `value`):

    <input type="checkbox" name="vehicle" value="Bike"> I h

[2015-08-06 11:15] jogep commented on #32
Yes of course, you can just use the class name to style it:

	.cbox {
		style: value;
	}

[2015-08-06 11:15] #32 closed

[2015-08-06 11:48] sytolk commented on #31
It appears that the problem is only with autocompleter I have test it with <sj:select and validation works.

[2015-08-07 14:49] afattahi54 commented on #32
Sorry may be I ask it bad !!
I want to set the jqgird so the generated check boxes have unique name and different value

[2015-09-23 12:58] TheMat81 opened #33 "JS Problem with charts with 2 X axis ("Time mode requires the flot.time plugin.Time mode requires the flot.time plugin.")"
Hi,

I upgraded from 3.3.3 to 3.7.1 and I found an error on the graphs with 2 X axis.
e.g.

<sjc:chart id="chart_1" cssClass="chart_class"
	legendShow="false" cssStyle="opacity:1;"
	xaxisMode="time" xaxisTimeformat="%0d.%0m" xaxisTickSize="[1, 'day']"
	onHoverTopics="chartHoverTips" onClickTopics="chartClick"
	crosshair="false" crosshairMode="x" >

	<sjc:chartData list="pointsForWide1" color="#990

[2015-10-28 15:02] TomDDeveloper opened #34 "Navigator Form"
Team you all have done a fantastic job on this plugin.  Has made my life much simpler.

Would like to bring your attention to several items.
1. The navigator form - While editing,  the first time around, it scrolls up and down the displayed table (gridModel) great.  Once I close the form and open it again it scrolls erratically (sometimes skips one row, sometimes skips multiple rows) I have notice

[2015-11-04 15:41] Naros opened #35 "sj:autocompleter does not interpret listKey when using nested property notation"
When using the following JSON model:
[code]
The action outputs the following JSON:
[code]
But when I use the sj:autocompleter widget as follows:
[code]
The widget replaces the hidden field with the listValue rather than using the listKey.  If I add a field called `itemId` on the `ItemModel` and use `listKey="itemId"` then it works as expected.  The listKey as well as listValue fields should accept

[2015-11-04 16:20] Naros commented on #35
It appears that the jquery.ui.struts.js implementation does not support nested property notation when inspecting the JSON object for values.  I would suggest rather than using `val[o.listkey]` to lookup the values, add the following:
[code]
Then rather than using `val[o.listkey]` to find the values, you would use `getObjectProperty(val, o.listkey)` and this would enable you to be backward compatib

[2015-11-04 17:52] Naros opened #36 "sj:autocompleter does not support onErrorTopics"
The autocompleter handler does not expose an ajax error function handler so that the onErrorTopics can be published upon an AJAX error condition.

[2016-02-27 15:02] afattahi54 opened #37 "groupShowSummaryOnHide shows error"
The groupShowSummaryOnHide generates free maker template error:

[code]

[2016-02-28 06:52] afattahi54 opened #38 "summary type and summary template"
Is it possible to add summaryType and summary template for grid component

[2016-03-09 18:26] ClancyDamon opened #39 "sj:select multiple value tag not working"
The value tag for an sj:select that has multiple="true" is not working for more than one value. If a single value is passed to the tag, that value is selected. If you pass an ArrayList, then nothing is selected. If you pass a simple array (like Integer[]) only the very first item in the array is selected. I'd like multiple values to be pre-selected, both on page load and via the reloadTopics. Agai

[2016-03-10 08:08] aleksandr-m commented on #39
Seems like we need some `contains` function [here](https://github.com/struts-community-plugins/struts2-jquery/blob/master/struts2-jquery-plugin/src/main/resources/template/js/struts2/jquery.struts2.js#L393).

[2016-04-24 13:51] afattahi54 opened #40 "Grids groupShowSummaryOnHide="[true]" is not working"
It seems that setting the groupShowSummaryOnHide="[true]" is not working and we face free maker exception

[code]

[2016-04-25 17:36] aleksandr-m commented on #40
Have you tried `groupShowSummaryOnHide="true"`?

[2016-04-29 00:24] pramodtiwari opened #41 "Column resize upto 1 px"
Hello
i want to re-size grid column up-to 1px. but at the time re-sizing something fixed in plugin so i can not able to re-size up-to 1px.
please give me any solution.from where i can fixed this solution for all Grid Column.
![resize](https://cloud.githubusercontent.com/assets/8870194/14905503/1e9eeb70-0dec-11e6-9648-22476be8b7ed.JPG)

I attach image file.please check it.

Thank you...

[2016-05-13 13:22] matorodriguez opened #42 "Struts 2.5 unsupported?"
When upgrading to Struts 2.5, I'm getting a TemplateNotFoundException (for the sj:div tag for example) using the plugin (version 3.7.1).

[2016-05-13 19:58] jogep commented on #42
version 4.0 will be compatible to struts 2.5

[2016-05-13 20:26] matorodriguez commented on #42
great, thanks!
is there a guess about when it'll be released?
thanks again.

On Fri, May 13, 2016 at 4:58 PM, Johannes Geppert <notifications@github.com>
wrote:

[2016-05-14 14:35] afattahi54 commented on #40
Yes no luck!

[2016-05-14 14:36] afattahi54 commented on #42
+1

[2016-05-17 08:52] amolghotankar commented on #42
+1

On Sat, May 14, 2016 at 8:06 PM, afattahi54 <notifications@github.com>
wrote:

--

*With Best Regards,*

Amol Ghotankar
Technical Lead
M: +91 9960 980 419 <http://www.cursivetech.com>

[2016-05-17 10:29] jogep commented on #42
@matorodriguez like every open source project. It is done when it is done! :-)
Sorry can not give a concrete timeline. But PR's are welcome. ;-)

[2016-05-17 12:21] iashkan commented on #42
+1

[2016-05-17 12:22] animgr commented on #42
+1

[2016-05-17 12:23] mahyarevafa commented on #42
+1

[2016-05-23 18:56] jogep commented on #42
First available SNAPSHOT build 4.0.1-SNAPSHOT is available and compatible to Struts 2.5

[2016-05-23 18:57] jogep commented on #41
Please use your bowser debugger to find the correct class for overrides.

[2016-05-23 18:57] #41 closed

[2016-05-23 18:58] jogep commented on #27
release/4.0.1 is now able to build against java8

[2016-05-30 10:50] afattahi54 opened #43 "The grid groupColumnShow is not supported"
It seems that the grid does not support `groupColumnShow`

[2016-06-01 10:44] afattahi54 commented on #43
It was my mistake the `groupColumnShow` is supported

[2016-06-01 10:57] afattahi54 commented on #38
As a work around:

[code]

[2016-06-01 11:11] afattahi54 opened #44 "Struts 2 jquery plugin, chart plugin does not support categories"
The chart component in the Struts 2 jQuery plugin version 3.6 seems not supporting the category plugin for the `sjc:chart`

There seems to be other plugins that have the relative js in the struts-jquery jar files but could not be used by tags. (like crosshier, colorhelpers,...)

As a work around we use :

[code]

[2016-06-02 14:54] matorodriguez commented on #42
Hi! Thank you very much for that Jogep.
I noted that a new dependency is present: log4j:log4j:jar:1.2.17:compile, while it's not a dependency in struts2-jquery-plugin 3.7.1 nor 4.0.0-SNAPSHOT.
Is it really neccesary? Struts 2.5 just drags in log4j-api, I believe that's for not being tied to a logging implementation.
Thanks!

[2016-06-08 03:42] afattahi54 opened #45 "struts 2.5 and struts jquery 4.0.1 grid loading"
To load a grid after submitting a form successfully, we used below submit tag.
[code]
and
[code]
However in struts 2.5 and struts jquery 4.0.1, I get the
[code]
Well I try to invest the event object to find if a new object is defined, but I could not find any thing. As struts jquery plkugin uses jquery 2 I wonder if this is some thing with jquery 2.

[2016-06-08 06:05] jogep commented on #45
Yes 4.0.x is based on jQuery2. As far as I know this API was not changed, but I will investigate.

[2016-06-08 14:27] gromanc commented on #45
pingback: http://stackoverflow.com/questions/37681552/struts-2-5-and-struts-jquery-4-0-1-grid-loading

[2016-06-12 15:18] afattahi54 commented on #45
The `onCompleteTopics` and `onSuccessTopics` have same definition in java doc. We are updating our code to work with `onCompleteTopics`, are we on the correct track ?! By the way what will be the differences.

[2016-06-13 16:15] jogep commented on #45
You mean main differences between struts2 jquery 3.7.1 and 4.0.1?

[2016-06-14 04:36] afattahi54 commented on #45
Dear @jogep let me ask this first ...
What is the difference of `onSuccessTopics` and `onCompleteTopics`?

[2016-06-22 11:29] jogep commented on #45
onCompleteTopics are published after the request is completed independent of the success of this request. onSuccessTopics are only published if the request was successfully.

[2016-06-24 15:33] jogep commented on #35
Can you prepare a PR for this request?

[2016-06-24 16:51] Naros opened #46 "sj:autocompleter does not properly handle cssErrorClass."
When validating the content of a submitted form, I am attempting to properly specify that an autocompleter field is in error using the `cssErrorClass` struts attribute as follows:

[code]

In the above code, the action supplies a `Map<ProductId,String>` which uses the combobox plugin to render the autocompleter widget.  The corresponding `select` which is hidden in this case has had the error clas

[2016-06-25 16:01] Naros commented on #35
PR #47 added.

[2016-07-16 10:32] flofourcade commented on #45
Seems to be an incompatibility of jquery form plugin with jquery >=1.12.1. See issue #495 of jquery form plugin on github

[2016-07-17 08:00] afattahi54 opened #50 "struts 2 jquery plugin 4.0.1-SNAPSHOT TypeError: options is null"
I am using struts 2 jquery plugin 4.0.1-SNAPSHOT.

When using the `sjg:chart` with local data type an error in console.  To see the error I used below js:

[code]

The error is
[code]
<sjc:chart  id="chartPlaceHolder"
		      cssStyle="width: 100%; height: 100%;"
		      pie="true"   dataType="local" />
[code]

[2016-07-17 10:09] afattahi54 commented on #50
It seems that at least one 	`<sjc:chartData data="10" />` is needed!

It was correct in version 3.7.1

[2016-07-17 10:21] #50 closed

[2016-07-18 07:31] flofourcade commented on #45
Made some tests and I came confirm the issue  with jquery form plugin. There are 2 possible workarounds to make the onSuccess callback working as expected:

- Specify a `dataType` attribute in your `<sj:submit />` tag.

- Replace this
`if (!options.dataType && options.target) {
            var oldSuccess = options.success || function(){};
            callbacks.push(function(data) {

[2016-07-18 08:37] yhjhoo opened #51 "AM/PM not working"
With this code

<sj:datepicker id="time2" label="With AM/PM" timepicker="true" timepickerAmPm="true"/>
It always show 24 hour format

Even the demo doesn't work
http://struts.jgeppert.com/struts2-jquery-showcase/index.action

[2016-07-21 13:08] flofourcade commented on #5
Looked at jstree changelog. No breaking API change between 3.1.1 (current jstree version in jquery plugin 4.0.1 branch ) and 3.3.1, only bugfixes, new plugins, new config options and performance improvement.
Did some tests with jquery struts 2 showcase and some private projects using struts2-jquery-jstree-plugin, I didn't have any issue.
Seems possible to upgrade to 3.3.1 safely.

[2016-07-22 10:20] flofourcade commented on #51
with `timepickerAmPm="true"` you have to add a `timepickerFormat` attribute to let the addon know where to put AM/PM info.
It seems that the default format isn't modified when `timepickerAmPm="true"` is specified.
eg
[code]
will add AM or PM at the end of the time.
Use tt for lowercase and t or T for a/p or A/P

[2016-07-25 04:41] tenzee opened #53 "error after changing it to responsive"
I m changing struts 2 project to responsive but i cant submit (sj:submit)

http://localhost:8080/ebsr/themes/showcase/jquery-ui.css Failed to load resource: the server responded with a status of 404 (/ebsr/themes/showcase/jquery-ui.css)
2authorizationAction.action:31 Uncaught TypeError: Cannot set property 'debug' of undefined
http://localhost:8080/ebsr/themes/showcase/jquery-ui.css Failed to load

[2016-08-14 10:21] afattahi54 opened #55 "struts 2 jquery grid unformatter"
struts 2 jquery grid  unformatter is not supported

[2016-08-31 03:32] prabhu-mannu opened #56 "working demo/example for datatables plugin"
is there any working demo/example for datatables plugin ??

by the way great job on creating these plugins, really appreciate what you are doing.

[2016-08-31 05:48] jogep commented on #56
You can run the current development version of the showcase application. This include and database example.

[2016-08-31 05:48] #56 closed

[2016-08-31 06:05] aeonoftime opened #57 "Nexus Repositories and Maven Builds"
Beyond version 3.7.1 MVN Central and other repositories are not listing more current builds. Is there a work around on this or do we need to do something to get these builds to pull the jars down?

[2016-08-31 07:03] jogep commented on #57
You can use the latest SNAPSHOT releases for version 4.0.1-SNAPSHOT

https://oss.sonatype.org/content/repositories/snapshots/com/jgeppert/struts2/jquery/

Until version 4.0.1 is finished you can only use more uptodate SNAPSHOT versions.

[2016-08-31 07:03] #57 closed

[2016-08-31 07:15] flofourcade commented on #56
There 's a lot of examples on Datatables' official website. If some of them seem particulary interesting, tell me and I'll add them to the jquery plugin showcase, using sjdt:datatables tag.

[2016-09-01 03:09] prabhu-mannu commented on #56
@jogep  thank you very much,
@flofourcade  I am trying to something like this https://datatables.net/examples/api/multi_filter.html
with server side filtering.

[2016-09-01 07:26] flofourcade commented on #56
OK, interesting use case, I've thinked about it, but no time to test it.
You'll have to use the serverside processing demo in the showcase as a starting point.
Then use jquery to inject search textfields in the footer, and to add search triggering with datatable API as shown in the multi_filter sample. Next you'll have to customize the server side action to add the multi search logic. Search param

[2016-09-01 09:55] sdutry opened #58 "<sj:div> + struts 2.5.x not working"
The struts2-jquery div tag (<sj:div>) doesn't work with struts 2.5

The reason is because with struts 2.5 the div tag was removed from struts, meaning that the template files for the div tag were also removed:
see: https://issues.apache.org/jira/browse/WW-4614

stacktrace:
[code]

workaround: added the old div templates from simple theme
template/simple/div.ftl
[code]
template/simple/div-close.ftl

[2016-09-01 10:01] flofourcade commented on #58
Struts2-jquery-plugin 3.7.1 is not compatible with struts 2.5. The latest 4.0.1.snapshot is. See readme.md to get it from maven snapshots repo.

[2016-09-01 11:04] sdutry commented on #58
Thx for the comment.

I must have overlooked the message in the readme.md

It seems to be resolved with commit `abdb8174cf84793182f174d83c857b3281306290` starting with version `4.0.1` (which is yet to be released)

[2016-09-01 11:04] #58 closed

[2016-09-01 12:20] prabhu-mannu commented on #56
@flofourcade
thank you very much for your input, i will try to get it working.   Basically i need some starting point on
how to use this plugin. Will post here if need any help.
Please enjoy your holiday, really appreciate that you are taking time to answer my questions during your holiday.

[2016-09-04 16:10] sdutry opened #60 "archetypes - web.xml - wrong package of StrutsPrepareAndExecuteFilter"
struts2-jquery version: 4.0.1-SNAPSHOT

the archetypes reference struts version `2.5`
starting from this version the package of the `StrutsPrepareAndExecuteFilter` has been changed from

`org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter`

to

`org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter`

generating an archetype and then trying to start the jetty server

[2016-09-05 06:15] #51 closed

[2016-09-05 10:39] sdutry opened #61 "struts2-jquery-plugin : missing jquery javascript when installing"
The jquery javascript file isn't located in the generated jar when doing an `mvn install`

How to recreate the problem:
- download latest version of the code from github repository
- do `mvn install` (installing version `4.0.1-SNAPSHOT` to your local maven repository)
- generate project using the archetype `struts2-jquery-archetype-base`
- run `mvn jetty:run` in generated project
- go to `http://l

[2016-09-08 20:50] sdutry opened #66 "Question: Why are generated minified javascript files part of the git repository?"
Is there a reason why the minified javascript files, which are generated with each build (during the package phase), are part of the git repository?

module: `struts2-jquery-plugin`
resources:

[code]

The following steps could be taken
- adding them to a .gitignore file
- removing the minified files (the ones listed above, which are generated each build)

If wanted, i could make a pull request fo

[2016-09-09 06:11] jogep commented on #66
I think it his historic. In previous versions before 4.0.0 the was added all by hand just copied from the origin source. But some libraries does not provide a minified version so I build the automatic minifying of sources.

[2016-09-09 08:29] sdutry commented on #66
@jogep
Do you want me to create the pull request?

[2016-09-09 08:43] jogep commented on #66
@sdutry
PR is always welcome. ;-)

[2016-09-12 13:53] sdutry commented on #60
@jogep
Seeing as the pull request with the fix has been merged, am is supposed to close this issue?

I'm not quite sure as to when an issue is meant to be closed. The following are possible for me:
- when the issue has been resolved (ie merge has been done)
- when someone has verified that the merge solves the issue
- when the version containing the fix has been released (in this case: `4.0.1`)

W

[2016-09-13 09:36] sdutry opened #75 "struts2-jquery-showcase: problem with example "forms with velocity""
- branch: `release/4.0.1`
- example: `Forms with Velocity`
- exception:

[code]

[2016-09-14 09:43] flofourcade commented on #75
Seems we have to replace velocity tags # by &num; in the <code> section

[2016-09-14 10:02] jogep commented on #60
I prefer to close it when the final release 4.0.1 is released. So users now that this issue stiil exists in the latest stable version.

[2016-09-14 14:58] sdutry commented on #60
@jogep
I was wondering if it would be a good idea to add a label to issues that have been fixed.

Suggested label:
- `Resolved`

Reason:
- easy way to see how much of the (milestone) issues still require work

[2016-09-14 15:53] jogep commented on #60
+1 go for it.

[2016-09-20 20:15] sdutry opened #78 "What is the remaining work that needs to be done before version 4.0.1 can be released?"
I was just wondering what remains to be done before a version of the plugin that's compatible with struts 2.5.x

Looking at the issues that are part of the [4.0.1 milestone](https://github.com/struts-community-plugins/struts2-jquery/milestone/2), it looks like most of the issues have been resolved.

Is there more work that needs to be done before a release will be made?
If so, is it possible to li

[2016-09-21 06:23] jogep commented on #78
Thank you for the help offer. Right now there is one issue left after upgrading to latest TinyMCE version I like to fix. If you open in the showcase the TinyMCE example it works but when you the navigate somewhere else and come back then the editor is not initialized again.

Also I was thinking about supporting the new jQuery UI widget Selectmenu:

[2016-09-21 17:40] sdutry commented on #78
@jogep
concerning the TinyMCE editor, could this be the cause?
http://stackoverflow.com/questions/32519169/why-tinymce-fails-to-load-second-time

there, the selector was missing.

[2016-09-22 08:51] flofourcade opened #79 "Bug in DataTables Tag attribute 'displayStart' support"
Bug in datatables-close.ftl -> support of 'displaystart' attribute is broken

[2016-09-22 10:37] flofourcade opened #81 "TinyMCE fails to reload in showcase App"
In jQuery showcase app, if we go on tinyMCE example, go elsewhere, then come back on tinyMCE example page, the editor fails to load.

[2016-09-22 10:40] flofourcade commented on #81
Seems we nedd to call tinyMCE.remove() with the id of the textarea used.

[2016-09-22 10:54] flofourcade commented on #78
@jogep @sdutry
Fixed tinyMCE issue, it works for me,please tell me if it works for you too so I can pass the issue as resolved

[2016-09-22 11:13] sdutry commented on #81
The showcase example seems to work again now.

[2016-09-23 08:50] flofourcade opened #83 "Datatables Server Side Processing AJAX custom data incomplete support"
Support for custom AJAX Data when using server side processing mode is incomplete. if ajax.data is a function, we should process Datatables original request parameters if the custom function modify the parameter without returning nothing

[2016-09-25 13:23] sergio11 opened #85 "form submit asynchronous not work"
Hi,

I have the following form:

[code]
I load this form in a div with id "content" with the following lines:

[code]

When sending the form, it is sent synchronously.

I am using struts2  2.5.2 ans struts-jquery 3.7.1

thanks.

[2016-09-25 13:39] flofourcade commented on #85
Hi,

First struts 2 jquery plugin plugin 3.7.1 is not compatible with struts 2.5.x. Other bugs and impredictable behaviour will occur if you continue using it with this version.
The first Struts 2.5 compatible version is 4.0.1 SNAPSNHOT, not released yet.
To fix your issue, you should :

- upgrade to struts 2 jquery plugin 4.0.1 SNAPSHOT (see readme.md for enabling maven snapshot repo)

- Try to p

[2016-09-25 18:30] sergio11 commented on #85
thanks for answering as soon,

I am forced to use this version of Struts 2.
 struts2-jquery 4.0.1 is ready for production?
I can already use this on a production project?

greetings.

[2016-09-26 07:26] flofourcade commented on #85
Hi,
See question #78, for details on what must be done before releasing. Globally, all bug tickets are resolved, improvements h

[2016-09-26 19:53] #85 closed

[2016-09-26 20:30] #83 closed

[2016-09-29 13:17] afattahi54 opened #86 "Set the content type for sj:a and sj:submit"
It will be good idea if we can set content type of `sj:a` and `sj:submit`

This is useful while we want to send json content to struts 2 json interceptor (May be useful in other places too)

Please refer to http://stackoverflow.com/questions/39750113/send-json-object-to-struts-2-action-by-using-strut2-jquery-plugin-tags/39750988#39750988

[2016-09-29 15:56] sytolk opened #87 "jqGrid: load local JSON data"
Can I skip href parameter `<sjg:grid  dataType="json" href="%{remoteurl}"` and one I/O request and load local JSON or `datatype: "local` data like this:
http://stackoverflow.com/questions/6831306/load-local-json-data-in-jqgrid-without-addjsonrows

If I load array of grid rows in the struts2 Action and write it like JavaScript array in web page its not need browser with JavaScript (Ajax) to call an

[2016-10-04 04:38] afattahi54 commented on #86
Just another comment. It will be good if we can set `data` too. In this way we can generate below script.

[code]

[2016-12-06 14:00] samized opened #88 "Is it possible to use tooltip plugin?"
The tooltip.js dependency is not available in any template. Can I integrate it globally?

[2016-12-07 08:00] jogep commented on #88
If you set loadAtOnce="true" in your head tag you can ensure that all scripts from jqueryui are loaded and you can use it. Otherwise you need to manage this.

[2016-12-07 08:00] #88 closed

[2016-12-07 08:01] #75 closed

[2016-12-07 08:01] #81 closed

[2016-12-07 08:02] #79 closed

[2016-12-07 08:03] #5 closed

[2016-12-07 08:03] #1 closed

[2016-12-07 08:03] #7 closed

[2016-12-07 08:03] #15 closed

[2016-12-07 08:04] jogep commented on #16
version 4.0.1 with support for struts 2.5.x is now released.

[2016-12-07 08:04] #16 closed

[2016-12-07 08:04] #20 closed

[2016-12-07 08:05] #21 closed

[2016-12-07 08:05] #27 closed

[2016-12-07 08:05] #29 closed

[2016-12-07 08:06] jogep commented on #42
Version 2.5.1 with support for Struts 2.5 is released

[2016-12-07 08:06] #42 closed

[2016-12-07 08:06] #61 closed

[2016-12-07 08:06] #66 closed

[2016-12-07 08:06] #60 closed

[2016-12-07 08:08] jogep commented on #78
Version 4.0.1 is now released! Special thank you to @flofourcade and @sdutry for your contributions on this version.

[2016-12-07 08:08] #78 closed

[2016-12-14 14:53] matorodriguez opened #89 "Errors when trying to load dialogs/sliders"
Since the snapshot 20161124.181023-12 (including release 4.0.1 too), I'm getting errors when trying to load dialogs/sliders.
I used the following browsers:
	Chrome: 54.0.2840.99 m (64-bit)
	Firefox: 50.0.2

**DIALOG**
	Example:
[code]
	Chrome console errors:

**SLIDER**
	Example:
[code]
	Chrome console errors:

Latest snapshot working version: 4.0.1-20160922.161421-11, but I have just realized tha

[2016-12-14 20:37] sdutry commented on #89
created git repository that can simulate problem:
(created with the archetype and updated versions)

[https://github.com/sdutry/issue89](https://github.com/sdutry/issue89)

start with `mvn jetty:run`

then go to [http://localhost:8080/issue89/issue89.action](http://localhost:8080/issue89/issue89.action)

I'm not completely confident that it's not just a misconfiguration since the showcase site doe

[2016-12-14 20:50] flofourcade commented on #89
Got the same issue with autocompleter. Seems like core.js (jquery ui) is not loaded. Using loadAtOnce=true in the head tag should fix the problem. Maybe the showcase is configured this way.

[2016-12-14 21:05] sdutry commented on #89
@flofourcade loading too late of one of the libraries could be the problem

`Uncaught TypeError: $.ui.safeActiveElement is not a function(…)`

The fact that none of the specific items actualy get executed right away on the showcase might be the reason why it works.

doesn't look like the showcase is configured with the ´loadAtOnce=true´ attribute

[code]

[2016-12-14 21:13] flofourcade commented on #89
Ok.Saw that head.ftl has been changed. I ll take a look tomorrow .

[2016-12-15 19:29] sdutry commented on #89
@flofourcade
for some reason loading jquery from google also fixes the problem:
`loadFromGoogle="true"`

[2016-12-15 19:36] sdutry commented on #89
loaded from google:
[code]

not loaded from google

[code]

so unless i'm mistaken, it's missing the following javascripts:
[code]

[2016-12-15 19:57] matorodriguez commented on #89
Great.
Note: when loading from Google, a HTTP NOT FOUND arises:
http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/i18n/datepicker-es.min.js

[2016-12-15 19:58] sdutry commented on #89
further testing shows that without the `loadFromGoogle` or the `loadAtOnce` the `jquery-ui.js` file never gets loaded.

from google:
[code]

not from google:
[code]

I think it might be nescessary to always load the `jquery-ui.js` immediately, even with the loadAtOnce to be false.
I can't realy find it being loaded through a `self.require` call anywhere else

[2016-12-15 20:15] sdutry commented on #89
@matorodriguez it seems like the google urls don't contain the i18n folder with the different translations for version `1.12.1`, which this setup assumes.

It did for all previous versions, so the only current workaround option you have is to add `loadAtOnce="true"` (it does have the translation files packaged inside with the struts2-jquery-plugin)

[2016-12-15 20:19] matorodriguez commented on #89
Great work @sdutry, thanks a lot!

[2016-12-15 21:05] sdutry commented on #89
@jogep @flofourcade
i made the following branch with what i think would fix this issue:
[issue89](https://github.com/sdutry/struts2-jquery/tree/issue89)

The problem i have is that the moment i made the branch off of `release/4.0.2` , my branch was already 2 commits ahead (and they're not mine).
So i'm not sure how to start a pull-request with only the changes i made.

[2016-12-16 08:01] flofourcade commented on #89
The problem with always loading jquery-ui.js is that we loose the "lazy" loading of jquery-uis's component when loadAtOnce and loadFromGoogle are false. When false, the expected behaviour is that each widget use $.require to load each needed jquery-ui's component using the splitted version of jquery ui js (selectable.js, core.js, slider.js,...).

 Between the last snapshot and the release, this sp

[2016-12-16 08:28] sdutry commented on #89
@flofourcade
Ok,

I can try to have a look at it this weekend, working my way through them one at a time.

ps: any idea how to get around the 2 commits ahead the moment i make a fork?

[2016-12-16 09:10] flofourcade commented on #89
Sorry, I'm far to be a github's specialist ! Maybe is there a way to exclude some file when you'll create your PR ?

[2016-12-16 11:06] lukaszlenart commented on #89
Use `origin` ;-)

The best option to prepare PRs is to clone the original repo locally, then make a fork on GitHub, add it as a `remote` to your cloned original repo

`git remote add fork git@....`

now when you're at `master` create a branch

`git checkout -b my-patch`

make changes and commit, now push to your `fork`

`git push -u fork my-patch`

go to GitHub and you will see that you can create

[2016-12-17 21:41] sdutry commented on #89
@lukaszlenart
i did the following:

1. added a remote to the original repo ( `git remote add upstream <git repo>` )
2. created a branch out of the remote branch from the original repo ( `checkout -b <branchname>` )
3. push that to my fork of the repo ( `git push origin <branchname>`)
4. branch is 2 commits ahead of ...

So i don't know where those commits originate from

[2016-12-18 11:14] sdutry commented on #89
@flofourcade
I'd like you to check that what i'm doing is correct.
Currently fixed the sj:dialog by adding jquery-ui to the scripts to require. (since the problem there was that jquery.ui was undefined)

see [commit](https://github.com/sdutry/struts2-jquery/commit/03214c79f3ef4baf696da226848defe8e4197d10)

I'll continue going through the rest 1 by 1, i just wanted to know if i was heading the righ

[2016-12-18 11:40] flofourcade commented on #89
@sdutry
You may try first first with core.js which contains main jquery ui functions/declarations for the splitted version of jquery ui for lazy loading.
If you look at the current version of head.ftl, you'll see that the loading of core.js has been commented, but not added to the require directive of some widget that need it.
If you want i will make some test and tell you here.

[2016-12-18 12:39] flofourcade commented on #89
@sdutry
Making widget.js first in the require directive make the dialog working. No need to add core.js or jquery-ui.js !

[2016-12-18 12:46] sdutry commented on #89
@flofourcade
Ok, thx for the info.

I was still juggling with the javascripts to figure it out.

[2016-12-18 12:55] flofourcade commented on #89
Ok, I've tested dialogs-*.jsp of the showcase in isolation (loading it without ajax and with a <sj:head> without loadAtOnce or loadByGoogle).
If widget.js is loaded first everything works.
dialog-modal.jsp is broken, seems there is a problem with opacity attributes, leading to incorrect JS generated by the tag. Removing them fix the problem.

[2016-12-18 13:02] sdutry commented on #89
@flofourcade

finaly found why it had to be first:

inside `mouse.js` (which was previously first) there is the following code:

`return $.widget( "ui.mouse", {`

[2016-12-18 13:05] flofourcade commented on #89
The sad thing is that we have to test all tags in isolation, it's highly probable that other tags are impacted !

[2016-12-18 13:07] sdutry commented on #89
i'll start by going around and fixing the location of widget.js wherever mouse.js is loaded.

[2016-12-18 13:25] sdutry commented on #89
checked tags (against branch [issue89fix](https://github.com/sdutry/struts2-jquery/tree/issue89fix) )(will be updated):

- `sj:slider`

[2016-12-18 14:31] sdutry commented on #89
@flofourcade

seems that one of the main problems for some of the javascripts like
- keycode.js
- safe-active-element.js

would be that they don't have `jQuery.ui` defined.

putting a javascript infront of them that has the following ui dummy definition if it doesn't exist, fixes it:
`$.ui = $.ui || {};`

maybe it would be a better idea to put the `version.js` inside the `head.ftl` ?
(since all th

[2016-12-18 14:41] flofourcade commented on #89
@sdutry
To fix autocompleter :
jquery.ui.struts:.js line 866
[code]
and jquery.ui.struts:.js line 1050
[code]

Need to add unique-id.js and tooltip.js for combobox and to change depencies loading order.

[2016-12-18 14:44] sdutry commented on #89
@flofourcade i just did that and commited it, although my ordering of requires is a bit different

[2016-12-18 14:45] flofourcade commented on #89
Yes you're right for keycode and safe-active-element, got the same problem while trying to fix autocomplete. We can try your solution based on version.js I think it's a good way.

[2016-12-18 15:14] sdutry commented on #89
@flofourcade

which solution then?

1. adding `$.ui = $.ui || {};` in head.ftl
2. adding `version.js` in head.ftl
3. changing the javascripts that don't include the `$.ui = $.ui || {};` empty object creation if it doesn't exist

[2016-12-18 15:38] flofourcade commented on #89
Add version.js to head.ftl. you can declare it in place of the commented declaration of core.js which is deprecated now. With this setup, version.js will be loaded when in lazy mode

[2016-12-18 16:34] sdutry commented on #89
@flofourcade
version.js added with this [commit](https://github.com/sdutry/struts2-jquery/commit/ddf9d048b303b1cbbed69e3b54e7820359b0ee81)

[2016-12-18 17:36] sdutry commented on #89
additional problem:

`jquery.combobox.js` and `jquery.combobox.min.js` are out of sync, resulting in different classes being added to the autocompleter-selectbox.

(will fix shortly, just putting it here so i don't forget)

[2016-12-18 20:30] sdutry commented on #89
checked tags (against branch [issue89fix](https://github.com/sdutry/struts2-jquery/tree/issue89fix) )(will be updated):
ok:
- `sj:accordion`
- `sj:autocompleter`
- `sjc:chart`
- `sjc:chartData`
- `sj:datepicker`
- `sj:slider`

broken:

(moved comment to the bottom to keep track of what's checked)

[2016-12-19 13:27] lukaszlenart commented on #89
@sdutry no idea what's wrong, I'm always fetch & pull the original repo before creating a branch and it works like a charm.

[2016-12-19 21:06] sdutry commented on #89
@flofourcade

can you check something for me:

when trying to load the `datatables-group.action` seperately, the collapsing of the groups isn't working.

the problem seems to be that the following javascript is executed before the table is loaded and thus doesn't get the chance to bind the click on the rows.

[code]
placing those lines inside a document ready is what fixes it for me, but i'm not s

[2016-12-19 21:43] flofourcade commented on #89
Ok will have a look a this ASAP.

[2016-12-20 16:46] sdutry commented on #89
checked tags (against branch [issue89fix](https://github.com/sdutry/struts2-jquery/tree/issue89fix) )(will be updated):
ok:
- `sj:accordion`
- `sj:autocompleter`
- `sjc:chart`
- `sjc:chartData`
- `sj:datepicker`
- `sj:dialog`
- `sjg:grid`
- `sjdt:datatables`
- `sj:slider`

broken:

(moved comment to the bottom to keep track of what's checked)

[2016-12-20 20:33] sdutry commented on #89
@flofourcade @jogep

Considering the branch i'm working on for this issue has a lot of changes already, i was thinking about making a pull request for what's fixed and moving the other remaining (mostly minor) problems into their own issues.

I'd like to hear your opinion on this.
Also if:
- I overlooked an issue
- created a new problem
- you want me to check other tags/combinations

please let me

[2016-12-22 09:17] sdutry opened #90 "add tests for the struts2-jquery-plugin tags"
Seeing that it's usualy difficult and time-consuming to test every single tag in isolation, I thought it might be a good idea to have some integration-tests for the tags.

This way, it should be easier to detect problems when they occur.

I've made a small POC for a simple case, illustrating that it's possible.
[struts2-jquery-tests](https://github.com/sdutry/struts2-jquery-tests)
**Edit:**
* ~~th

[2016-12-22 11:42] lukaszlenart commented on #90
Did you try to run this with Travis-CI?

[2016-12-22 14:20] sdutry commented on #90
@lukaszlenart
No i did not.

What happens here when running the `mvn verify` is the following:
* local jetty-server is started
* tests use the platform independent HtmlUnitDriver to call the Urls and perform the tests
* local jetty-server is stopped

I currently have no experience with Travis-CI.
Could you please:
* name the big steps that happen
* point me towards the documentation
* point me tow

[2016-12-22 15:23] sdutry commented on #90
@lukaszlenart
I managed to get this POC project onto Travis-CI.
see: [struts2-jquery-tests](https://travis-ci.org/sdutry/struts2-jquery-tests)

[2016-12-22 20:51] lukaszlenart commented on #90
Cool, it passes so it's a way to go 💯

[2016-12-23 07:36] sdutry commented on #90
@lukaszlenart
If i understand correctly, you're suggesting the following:
* adding the tests as a module
* adding the project to Travis-CI so it runs with every commit / pull-request

Am I correct in assuming that only someone with admin rights can add the project to Travis-CI?
(which means I'll probably have to contact @jogep for this)

Thx in advance for the info.

[2016-12-23 08:39] afattahi54 opened #91 "version 4.0.1 in maven"
It seems that the version 4.0.1 is released, can we get it from any maven repository ?!

[2016-12-23 09:29] sdutry commented on #91
It should be available from the default maven repositories

http://mvnrepository.com/artifact/com.jgeppert.struts2.jquery/struts2-jquery-plugin/4.0.1

[2016-12-23 14:24] lukaszlenart commented on #90
Yes and yes, only repo owner can setup build on TravisCI but that's easy :)

[2016-12-23 17:11] sdutry commented on #90
links to work in progress:
* [git branch](https://github.com/sdutry/struts2-jquery/tree/issue90)
* [Travis-CI](https://travis-ci.org/sdutry/struts2-jquery)

[2016-12-24 16:58] sdutry commented on #91
@afattahi54

Did you manage to use version `4.0.1` ?

Please let us know so we can either
- help searching for a solution
- close the issue

[2016-12-26 11:51] lukaszlenart commented on #90
Did you open a PR? Could you add Travis badge?
[code]

[2016-12-26 12:18] sdutry commented on #90
@lukaszlenart
I didn't open a pull request yet.
(was going to add more tests with more tags first)

From the information i can find about the Travis badge, i conclude the following:
* should be added to the `README.md`
* should be done with the actual url (and not the one from my fork, since that would be wrong once it's merged)

[2016-12-26 14:45] lukaszlenart commented on #90
I think starting even with one test is a good idea, tests for other tags can be added step-by-step with additional PRs :)

Regarding the badge: right, I was too eager :)

[2016-12-26 15:31] sdutry commented on #90
@lukaszlenart
Ok,

I will just add the last test i wanted to add for the `sj:a` tag and make a pull request after that.

Thx for the advice so far concerning `Travis-CI`.

[2016-12-29 18:27] sdutry commented on #90
@lukaszlenart
i noticed and added the badge to the README.md file (in the pull request) so it shows the build status on on the github pages.

Now we should easily easily spot when a pull request or commit is made that breaks the build.

[2016-12-30 19:46] #89 closed

[2016-12-30 20:27] jogep commented on #90
@sdutry Only problem what I can see that we currently not developing against master branch. Usually I create for each new release a new branch which is merged into master when the release is finished. Maybe we need to change the process here.

[2016-12-31 06:59] sdutry commented on #90
@jogep
What i could do is to change the status badge to monitor the `release/4.0.2` branch and add an indication in the `README.md` that it's for that branch (so we don't forget or can add more status badges the further we get).

[2016-12-31 07:07] sdutry commented on #90
@jogep
I've switched the badge to monitor `release/4.0.2`
see: [branch](https://github.com/sdutry/struts2-jquery/tree/issue90)

[2017-01-05 18:57] gitchuckles opened #94 "Uncaught TypeError: this.element.uniqueId is not a function when upgrading to 4.0.1"
I'm trying to upgrade from 3.7.1 to the 4.0.1 release and I get the following error when loading a jsp
we don't have any uniqueId calls in our code. any suggestions?
VM122:68 Uncaught TypeError: this.element.uniqueId is not a function
    at $.(anonymous function).(anonymous function)._create (eval at globalEval (http://localhost:8080/dev/struts/js/base/jquery-2.2.4.js:343:5), <anonymous>:68:5)

[2017-01-05 19:57] sdutry commented on #94
@gitchuckles
we are aware of this issue.

It should be fixed with the fix in #89 .

Unfortunately it means you'll have to wait till version 4.0.2 is released for a definitive fix.

#### Known workaround:
use `loadAtOnce="true"` attribute on your current `sj:head` tag

Please let us know if this workaround works for you.

[2017-01-05 20:01] flofourcade commented on #94
We re working on this isdue. See #89. Using loadAtOnce="true" should fix this problem in your <sj:head /> tag should make your jsp working. Alternatively you can try the 4.0.2 snapshot version where fixes have been applied.

[2017-01-06 01:11] gitchuckles commented on #94
thanks, the workaround worked

[2017-01-08 12:22] jogep commented on #94
New release 4.0.2 with fix is now released.

[2017-01-08 12:22] #94 closed

[2017-01-08 12:25] jogep commented on #90
Great can we merge this in latest release/4.0.3 branch?

[2017-01-08 12:30] sdutry commented on #90
@jogep
I'll check to make a pull request to that branch.

Give me a minute to figure out what exactly needs to be done.

[2017-01-08 12:40] sdutry commented on #90
@jogep
Is it possible that the version in the pom on the branch `release/4.0.3` still needs to be updated to `4.0.3-SNAPSHOT` ?

[2017-01-08 16:50] sdutry opened #95 "version 4.0.2 not yet showing up in central maven repository"
@jogep
Version `4.0.2` is not yet showing up in the maven repository.

I don't know what needs to be done for this.

- is there something extra that needs to be done?
- or is this just a normal delay?

the place where i was looking:
[mvnrepository](http://mvnrepository.com/artifact/com.jgeppert.struts2.jquery/struts2-jquery-plugin)

[2017-01-08 17:30] sdutry opened #96 "incorrect .gitignore files in module struts2-jquery-plugin"
location of referred minified files is incorrect, causing to not realy be excluded

they are located inside the `plugins` directory instead of the `base` directory

`struts2-jquery-plugin/.gitignore`

[code]

[2017-01-08 17:42] #96 closed, assigned to sdutry

[2017-01-09 09:19] jogep commented on #95
At least the version is available here:
https://oss.sonatype.org/content/groups/staging/com/jgeppert/struts2/jquery/struts2-jquery-plugin/

May it needs some time until it is synced with https://mvnrepository.com

[2017-01-09 12:27] jogep commented on #95
https://mvnrepository.com/artifact/com.jgeppert.struts2.jquery/struts2-jquery-plugin/4.0.2

[2017-01-09 12:27] #95 closed, assigned to jogep

[2017-01-09 13:24] sdutry commented on #91
@afattahi54

Version `4.0.2` has now been released with several bugfixes, please use this version instead.

[http://mvnrepository.com/artifact/com.jgeppert.struts2.jquery/struts2-jquery-plugin/4.0.2](http://mvnrepository.com/artifact/com.jgeppert.struts2.jquery/struts2-jquery-plugin/4.0.2)

[code]

[2017-01-09 16:40] sdutry commented on #90
checklist for tags to add tests for

- [x] `sj:a`
- [x] `sj:div`
- [x] `sj:submit`
- [x] `sj:checkboxlist`
- [x] `sj:radio`
- [x] `sj:select`
- [x] `sj:accordion` (+ `sj:accordionItem`)
- [x] `sj:autocompleter`
- [x] `sj:dialog`
- [x] `sj:menu` (+ `sj:menuItem`)
- [x] `sj:progressbar`
- [x] `sj:slider` (if i find a way to test it) (currently not possible with basic `htmlunit-driver`)
- [x] `sj:spi

[2017-01-10 08:18] #91 closed

[2017-01-13 22:38] sdutry opened #106 "sj:menu behaves differently with a list or map than it does with specified sj:menuItem tags"
- When you specify the `sj:menuItem` tags, the whole item is clickable.
- When you specifiy a list or map (as attribute `list`) only the text is clickable.

The difference is the following:
- When you define the `sj:menuItem` tags, what gets bound is the `li` tag
- Otherwise, it's only the `a` tag around the text (inside a `div` inside the `li`) that gets bound

This is visible in the [struts2-jqu

[2017-01-15 10:49] jogep commented on #106
@sdutry you are right they should have the same behavior. I will check this.

[2017-01-17 19:01] gitchuckles opened #109 "sjg:grid/sj:url behavior changed with 4.0.2"
I have  this setup anl/grid.jsp that currently has a tag:
<s:url var="remoteurl" action="jsonGenericGrid?gridType=ANL"   />
used by an sjg:grid and works fine in struts 2.7.1 but with 4.0.2 I get the error:
here is no Action mapped for namespace [/anl] and action name [sonGenericGrid] associated ...
after playing around  with it and changing the tag to:
<s:url var="remoteurl" action="jsonGenericGr

[2017-01-17 19:48] sdutry commented on #109
@gitchuckles
am i correct in assuming that you mean `struts2-jquery-plugin` version `3.7.1` as the working version?

The `s:url`-tag is actualy one of the basic struts tags, and not a part of the `struts2-jquery-plugin` specific tags.

The versions `4.x.x` of the `struts2-jquery` plugin depend on version `2.5.x` of struts.
(`4.0.2` depends on `2.5.8` when you don't specify a struts version)

I thi

[2017-01-19 06:41] aleksandr-m opened #110 "NPE on using tags which extend AbstractContainerTag"
Using simple `<sj:div>` results in NPE being thrown. It happens because of this kind of [`if`-s](https://github.com/struts-community-plugins/struts2-jquery/blob/release/4.0.3/struts2-jquery-plugin/src/main/java/com/jgeppert/struts2/jquery/components/AbstractContainer.java#L210) in the `AbstractContainer` `evaluateExtraParams` method.

Null check is needed before calling `findString` or maybe `resi

[2017-01-19 07:16] sdutry commented on #110
@aleksandr-m
Is it correct in assuming that this is just for the following statements?
other `findString` calls seem to be surrounded with null-checks
* `resizable` (line `210`)
* `droppable` (line `298`)
* `draggable` (line `348`)
* `selectable` (line `481`)
* `sortable` (line `522`)

Also,

When are you getting this exactly?
There's currently a test that tests the `sj:div` tag:
* [ajax-div.jsp](

[2017-01-19 07:30] aleksandr-m commented on #110
Yes, seems like that. What do you think about providing defaults for `resizable` and such?

[2017-01-19 19:47] sdutry commented on #110
@aleksandr-m
can you please provide an example for this issue.

I seem unable to replicate this.
Also, what version are you using for the following?
* `struts2-jquery`
* `struts2`

[2017-01-19 22:44] sdutry commented on #90
@lukaszlenart @jogep

My initial setup for these tests did not have support for drag-and-drop features (like dragging a slider).
(arbitrary mouse movement is not supported by htmlunit-driver)

Initial setup:
* `selenium`
* `htmlunit-driver`

My workaround for this was to use the `PhantomJSDriver` (instead of the `htmlunit-driver`) for this specific test. (see [SliderTagIT.java](https://github.com/

[2017-01-20 07:40] aleksandr-m commented on #110
Turns out that it was a bug in the Struts2, which is fixed in this [commit](https://github.com/apache/struts/commit/7dbe3ea8bb97cd004e77541c761bbe20e4373c3d#diff-49e25ce689738bd6bdcedb2962389069).

If upgrade is not an option then simple workaround is to set all aforementioned attributes to `false` in JSP.

[2017-01-20 07:40] #110 closed, assigned to nobody

[2017-01-20 10:45] programiss commented on #23
I use the same version and experience the same problem.

[2017-01-21 00:29] gitchuckles opened #111 "4.0.2 jqGrid not rendering tree grids from struts 3*"
none of our tree grids that use the jqGrid that is bundled in struts render correctly with the 4.0.2 version that work with 2.3.30.  we either get a normal grid looking grid with no javscript errors
or no grid with this stack trace:

VM243:53 Uncaught TypeError: Cannot create property '0' on boolean 'false'
    at HTMLTableElement.eval (eval at globalEval (jquery-2.2.4.js:343), <anonymous>:53:31)

[2017-01-21 06:59] sdutry commented on #111
@gitchuckles

As mentioned in the `README.md` file:

the version `4.0.2` only works with Struts `2.5.x` (and defaults to `2.5.8`)

Either downgrade your struts2-jquery version or upgrade your struts version.

[2017-01-21 11:17] sdutry commented on #111
Can you provide a simple example demonstrating this issue so we can check this with the current version and fix if needed?

When does it fail exactly?
* always
* certain data-types

What is the exact code used to render it?

What is the structure (and types) of the data being rendered?

[2017-01-22 12:07] jogep commented on #90
@sdutry I like the idea of seperate profile for this tests. Can this profile be chosen as default for Travis-CI?

[2017-01-22 12:40] sdutry commented on #90
@jogep
Should be easy enough to run the command with a profile.

required steps:
- Add profile to pom.
- Move running of tests to this profile.
- Make sure they don't run when this profile isn't being used.

What i was wondering was the following:
- Should i switch all tests to only run for this profile?
- Should i switch all tests to use PhantomJSDriver?
- Should i still allow tests that should w

[2017-01-22 13:23] sdutry commented on #90
Looking further into this i'll try to set it up with the `Category` annotation to be able to filter them.

[2017-01-22 16:42] sdutry commented on #90
@jogep @lukaszlenart
I've made a pull request ( #112 ) which splits up the tests in to tests run by default with HtmlUnitDriver and tests run only with the profile `phantomjs`.

I also added categories to the tests in order to distinguish which test to run when.
This should also make it easy when someone decides to add a driver from an actual browser to the tests.

- phantomjs tests were needed in

[2017-01-23 18:06] gitchuckles commented on #111
Our production stack is struts 2.3.30 and struts-jquery is 3.7.1, my development branch is struts 2.5.8 and struts-jquery 4.0.2

From: Stefaan Dutry <notifications@github.com>
Reply-To: struts-community-plugins/struts2-jquery <reply@reply.github.com>
Date: Friday, January 20, 2017 at 10:59 PM
To: struts-community-plugins/struts2-jquery <struts2-jquery@noreply.github.com>
Cc: "McGregor, Chuckles" <

[2017-01-23 18:44] sdutry commented on #111
@gitchuckles
So it's the current version with the current struts version.

Can you provide us with an example of what's not working?
- data structure that gives the exception
- exact tags used to render the grid

That way we can figure out
- what type of data allows to reproduce the exception
- what attributes need to be set to reproduce the exception

Thanks in advance for the extra info.

[2017-01-25 08:11] lukaszlenart commented on #90
(sorry but I was off for few days)

The idea with a dedicated profile just for `phantomjs` is very good, you can use `${env.TRAVIS}` to activate it when build is running on TravisCI, just a hint, the current approach also works :)

[2017-01-29 08:37] sdutry opened #115 "add convenience methods to TreeNode to make it easier to use"
module:
- `struts2-jquery-tree-plugin`

class:
- `com.jgeppert.struts2.jquery.tree.result.TreeNode`

#### Add a method addChild
Currently `TreeNode` only has a getChildren and a setChildren method, making it so that, when you want to add a childnode, you have to get the collection and then add it to the collection.

Seeing that the collection gets initialized to an empty TreeSet by default, this s

[2017-01-30 11:52] sdutry opened #116 "add README.md to module struts2-jquery-integration-tests"
Add a `README.md` file to the module `struts2-jquery-integration-tests`

This in order to explain the following:
* the intentions of the module
* the used setup
  * profiles
  * categories
  * selenium webdriver
* the profiles that are available for running the tests
* the requirements for each of the profiles
* the way to start the the tests for each of the profiles
* How to run a single test

[2017-01-30 22:24] sdutry commented on #111
@gitchuckles
Did you have time yet to gather some more info so we can reproduce this issue?

[2017-01-30 22:44] gitchuckles commented on #111
Not yet, I’ve been diverted to a high priority aspect of the project, hope to get back to it soon

From: Stefaan Dutry <notifications@github.com>
Reply-To: struts-community-plugins/struts2-jquery <reply@reply.github.com>
Date: Monday, January 30, 2017 at 2:24 PM
To: struts-community-plugins/struts2-jquery <struts2-jquery@noreply.github.com>
Cc: "McGregor, Chuckles" <mcgregor1@llnl.gov>, Mention <m

[2017-01-31 22:28] #116 closed, assigned to sdutry

[2017-01-31 23:43] aeonoftime opened #119 "Struts2 Version"
It is not clear which version of Struts2jquery is compatible with what version of Struts2? Could this be clearly outlined in the Readme file?

[2017-02-01 11:53] sdutry commented on #119
You are correct.
It could be clearer.

Currently the only thing saying anything about it is:

Do you have any suggestions as to where and how to display the versions.

[2017-02-01 18:27] aeonoftime commented on #119
This sentence is unclear. Perhaps some sort of reference of current and the most recent versions.

ie Struts2-JQuery Version 4.0.3 has a minimum requirement of Struts 2.3.x and recommended Struts2 version of 2.5.8.  I have only thrown in numbers here as I don't know the answer.

[2017-02-01 18:55] sdutry commented on #119
Ok, i'll see what i can do.

[2017-02-01 19:47] sdutry commented on #119
@aeonoftime
Can you please check this [branch](https://github.com/sdutry/struts2-jquery/tree/issue119) to see if this would be an acceptable improvement?

If you have better or different ideas on this, i'm open for suggestions.

[2017-02-01 20:14] aeonoftime commented on #119
I think that is much more clear.

[2017-02-01 21:15] #119 closed, assigned to sdutry

[2017-02-01 22:11] sdutry opened #121 "update wiki changelog for versions 4.x.x"
Wiki changelog page needs to be updated to hold info about the 4.x.x versions

page:
[Changelog](https://github.com/struts-community-plugins/struts2-jquery/wiki/Changelog)

* missing info about existing versions:
  * `4.0.1`
  * `4.0.2`
* version present on page that, to my knowledge, doesn't exist:
  * `4.0.0`

[2017-02-02 19:32] sdutry commented on #121
Added changes for version `4.0.2`

@jogep
Could you please complete the remaining sections when you find the time.
Sections:
  * `4.0.1`
  * `4.0.0`
(I think you're better suited to list the changes and bugfixes for these versions as i only joined late during the process of these versions)

Also, feel free to check and adjust the change i made.

[2017-02-03 19:30] sdutry opened #122 "upgrade to latest struts2"
* new struts2 version: `2.5.10`
* [version notes](http://struts.apache.org/docs/version-notes-2510.html)
* shouldn't require any changes to the code of the `struts2-jquery` project (other than `pom.xml`-files)

[2017-02-21 11:48] sdutry commented on #111
@gitchuckles
Did you have time yet to gather some additional info concerning this issue?

[2017-02-21 17:38] gitchuckles commented on #111
Not yet, we just finished a release and supposed work out what goes into future releases, I would like to get some time to work on this so we can work the latest struts/jquery into production in the future

From: Stefaan Dutry <notifications@github.com>
Reply-To: struts-community-plugins/struts2-jquery <reply@reply.github.com>
Date: Tuesday, February 21, 2017 at 3:48 AM
To: struts-community-plugin

[2017-02-21 20:05] aleksandr-m opened #125 "Remove log4j 1.2.17 dependency"
@jogep @sdutry
1) In which branch should it go? `release/4.0.3`?
2) Should PR be created or direct commit is ok?
3) Is running `mvn clean install` is enough to fully build and test project?

[2017-02-21 21:17] sdutry commented on #125
@aleksandr-m
#### In which branch should it go? release/4.0.3?
`release/4.0.3` is the current active branch that's in development
#### Should PR be created or direct commit is ok?
If you're sure of your changes and they're small enough, then a PR is not realy required in my opinion.
However, if you do make a PR, then [Travis-CI](https://travis-ci.org/struts-community-plugins/struts2-jquery) will s

[2017-02-22 18:01] aleksandr-m commented on #125
off-topic: Any reason `target` folder isn't listed in `.gitignore`?

[2017-02-22 18:11] sdutry commented on #125
@aleksandr-m
The reason definately is: because i forgot to add it to the `.gitignore` file

[2017-02-22 18:15] #125 closed, assigned to nobody

[2017-02-22 18:15] sdutry commented on #125
#126

[2017-02-22 18:19] sdutry opened #127 "add target folder and IDE specific files to .gitignore file"
as mentioned in #125 , not all target folders are ignored

[2017-02-22 18:31] aleksandr-m commented on #127
It would be great to add IDE specific folders as well.
E.g.
[code]

[2017-02-22 18:33] aleksandr-m commented on #90
@sdutry Have you seen this https://github.com/klieber/phantomjs-maven-plugin ?

[2017-02-22 18:37] sdutry commented on #127
@aleksandr-m updated issuetitle

[2017-02-22 18:55] sdutry commented on #90
@aleksandr-m
I am aware of the existense of the plugin.

I did not find a way to have it working independent of the environment you're on (yet).
The main issues being:
- no admin rights environments
  - will it be able to place the required files
  - Travis-ci environment has no admin rights, but has phantomjs installed by default
- phantomjs.binary.path
  - what if the person already has phantomj

[2017-02-25 21:07] sdutry opened #130 "update selenium and htmlunit to latest version"
### module
* `struts2-jquery-integration-tests`

| groupId | artifactId | version  |
| -- | --| --|
| `org.seleniumhq.selenium` | `selenium-server` | `3.2.0` |
| `org.seleniumhq.selenium` | `htmlunit-driver` | `2.25` |

[2017-02-27 20:54] aleksandr-m opened #132 "Velocity dependency as optional"
Can velocity dependency be declared as optional?

[2017-03-07 19:19] sdutry commented on #122
upgrade to struts `2.5.10.1`

[2017-03-18 22:14] assachs opened #133 "autocompleter ignores requestType"
Hello,
autocompleter ignores requestType attribute on generating Ajax requests. It's not possible to make POST requests.

Andi

[2017-03-19 12:34] sdutry commented on #133
@jogep
according to the wiki-page about the `sj:autocompleter` tag, the default `requestType` attribute should be `POST`. Currently it seems to ignore the requestType and performs a `GET` request.

To fix this issue, am i supposed to make `POST` the default method, or should the documentation be updated so that `GET` becomes the default method?

- [AutocompleterTag Wikipage](https://github.com/str

[2017-03-19 12:54] sdutry commented on #133
@jogep
I can't seem to find any remnant of a `requestType` attribute ever having existed for the `sj:autocompleter` tag.

Am i missing something?

[2017-03-19 17:08] sdutry commented on #133
Note to self: check superclasses

requestType available through inheritance from:
- `com.jgeppert.struts2.jquery.views.jsp.ui.AbstractRemoteTag.java`
- `com.jgeppert.struts2.jquery.components.AbstractRemoteBean`

TODO:
- change template to use it

[2017-03-21 20:14] sdutry commented on #133
When the autocomplete is passed a variable of type string, it executes a GET request
inside `src/main/resources/template/js/base/autocomplete.js`
[code]
TODO:
Change it so that the source parameter is no longer a url but a function that performs the ajax request
`src/main/resources/template/js/struts2/jquery.ui.struts2.js`
[code]

[2017-03-28 13:31] ghost opened #135 "sj:datepicker - bug with timepicker"

[2017-03-29 06:21] sdutry commented on #135
closing because reporter's user has been deleted and this issue no longer has a description

[2017-03-29 06:21] #135 closed, assigned to nobody

[2017-03-31 08:24] flofourcade commented on #132
Tested it, seems possible and even consistent with struts2-core where this dependency is optional.
Got to see the impact on the showcase apps where velocity is used to demonstrate the use of tags in vm templates.

[2017-03-31 18:45] sdutry commented on #132
@flofourcade
The showcase works because the showcase itself has a dependency to velocity

[2017-03-31 19:11] flofourcade commented on #132
@sdutry ok, maybe it can be usefull to do the same thing in the bootstrap plugin ? It seems nowadays that velocity is less used, compared to freemarker and other templating engines.

[2017-03-31 20:52] sdutry commented on #132
@flofourcade
I just checked it looks like the velocity dependency in the `struts2-bootstrap` plugin is already marked as optional.

[code]

[2017-04-03 06:33] flofourcade commented on #132
@sdutry
velocity-tools has a transitive dependency to velocity. There 's an exclude for it in the pom but it seems inefficient. Running maven dependency:tree on a project with bootstrap plugin or using an IDE (eg dependency hierarchy in Eclipse) shows that velocity is still included in classpath as a transitive dependency from velocity-tools.

[code]

So we could

- fix the exclusion (I think chan

[2017-04-10 07:36] flofourcade commented on #40
Wrong handling of this parameter in Grid.java. Fixed it, will be OK in 4.0.3.

NB the right syntax will be `groupShowSummaryOnHide="true"`

[2017-04-10 07:55] flofourcade commented on #37
duplicates #40

[2017-04-10 07:58] flofourcade commented on #53
We need more infos if you want us to help you. What are you exactly trying to do.

[2017-04-10 08:38] flofourcade commented on #87
If jou want to avoid one I/O request cycle, you can simply use the `gridModel` attribute of the grid tag.
It will retrieve data from the action, so no need to use AJAX.

You'll find sample code in the showcase app [http://struts.jgeppert.com/struts2-jquery-showcase/](url).

[2017-04-10 13:43] flofourcade commented on #46
PR #138

[2017-04-10 15:50] flofourcade commented on #36
PR #138

[2017-04-11 06:17] flofourcade opened #139 "Showcase apps are down"
Showcase apps (struts-2-jquery-*, struts2-bootstrap) are down at [http://struts.jgeppert.com/struts2-jquery-showcase/index.action](url).

[2017-04-11 06:25] flofourcade commented on #14
duplicates #55

[2017-04-12 15:01] flofourcade opened #140 "Missing required js when using <sj:select /> with autocomplete="true""
Due to js not being imported, it's impossible to use <sj:select /> with autocomplete="true" .
JS are tooltip.js and uniqueId.js and safe-active-element.

The showcase example works because missing js are imported by other tags.

[2017-04-12 18:19] flofourcade commented on #140
PR #138

[2017-04-12 19:27] flofourcade commented on #121
Updated the changelog with what I remember having done for 4.0.1 milestone.

I'll try to find some time to write a wiki on the datatables plugin, and to update jstree but I think I'll need someone to correct me, cause it's quite likely that I'll make a lot of grammatical, syntaxical mistakes (you guess it, I'm not a native English speaker  :-)  )

[2017-04-12 19:35] sdutry commented on #121
Don't worry, i'm not a native English speaker either. Most important thing is the info being present. (Also autocorrect is annoying)

[2017-04-15 18:20] jogep commented on #121
Version 4.0.0 was never officially released. I will update some information for the 4.0.1 section.

[2017-04-15 18:29] jogep commented on #121
I added some informations about version and compatibility changes.

[2017-04-15 18:29] #121 closed, assigned to jogep, sdutry

[2017-04-15 18:39] jogep commented on #139
Restarted node and it runs now again. Thanks for pointing me on this.

[2017-04-15 18:39] #139 closed, assigned to nobody

[2017-04-17 16:49] flofourcade commented on #121
Hi @jogep @sdutry.

I started to write a wiki about the datatables plugin. For now it's an introduction, feature list and tag attributes reference. Soon I'll add other pages to explain more in detail how the showcase examples work, and other thing like theming, ...

While we're talking about DataTables, I'm planning to add some new features like a built in editor. Official DataTables Editor is a c

[2017-04-17 17:14] ClancyDamon opened #141 "BlockUI Not Working with sj:submit onClick Parameter"
I'm trying to use BlockUI (http://malsup.com/jquery/block/) with the struts2-jquery plugin. I have an sj:submit element in my form that submits the form for ajax validation. My validate parameter is true, the validationFunction is set, and I have onAfterValidationTopics. I also have an onClick parameter that points to a javascript method that invokes Jquery BlockUI. The problem I'm experiencing is

[2017-04-17 19:21] flofourcade commented on #141
Hi @ClancyDamon.

Can you please give us more info on your problem. A copy - paste of your `<sj:submit ` tag, your JS event handlers can help us. I see you used `onClick` where the correct syntax of this event is `onclick` (it's case sensitive).
If we can reproduce the, we will be able to help you.

[2017-04-17 20:00] ClancyDamon commented on #141
Certainly. My sj:submit tag is as follows:

                    <sj:submit button="true"
                               type="button"
                               id="saveButton"
                               cssClass="btn bg-cobalt-300"
                               buttonIcon="icon-floppy-disk"
                               label="%{getText('global.save')}"
			       validate="true"

[2017-04-17 20:19] flofourcade commented on #141
Ok, instead of using `onclick` native JS event, you may try to use the topic system : `onClickTopics` or `onBeforeTopics`. Can you try it and tell us if your problem is resolved?

[2017-04-17 20:24] ClancyDamon commented on #141
No. I have tried that. The onBeforeTopics don't seem to fire at all when subscribed to the sj:submit button. I attempted
[code]

[code]
and beforeValidation was never hit. For onClickTopics, that seems to be the last thing that occurs, which doesn't work for our situation. The method subscribed to onClickTopics is hit after the onAfterValidationTopics method. Due to that, we can't use it.

[2017-04-17 20:28] flofourcade commented on #141
Ok, I'm going to investigate and I'll post here possible solutions.

[2017-04-17 22:38] ClancyDamon commented on #141
I figured out a solution to our issue. The problem is the way ajax validation is being performed in the jquery.struts2.js file. In the validateForm method, the ajaxSubmit parameter async is set to false. This caused the browser to lock up completely until after validation. I rewrote the validation handling in the formsubmit method, in the $elem.click that is assigned to the sj:submit button, line

[2017-04-18 06:27] flofourcade commented on #141
@ClancyDamon thanks for pointing this out. Now I'm must understand why this AJAX call has been configured this way.

@jogep @sdutry Do you know if there is a particular reason for the AJAX validation to be done synchronously ?

[2017-06-19 15:29] fjamores3 opened #142 "Struts2 jquery plugin doesn't work with CSP script-src secure"
I'm trying to use struts2-jquery-plugin but i can't . The reason is my content-secure-policy header against Cross Site Scripting (XSS) attacks... How can i solve it without use 'unsafe-inline' mode in script-src field?

Thanks a lot.

[2017-06-25 11:50] sdutry commented on #142
@fjamores3
My current knowledge about `Content Security Policy` is limited.

From my understanding, your problem is because there's a script being loaded from a different domain.

Normaly, when using the simple `sj:head` tag, all scripts should be loaded from the domain your page loads on.

[code]

Therefore the following questions in order to investigate further::
* How exactly does your `sj:head

[2017-06-27 03:52] rahulkumar595 opened #143 "Topics getting called without considering result of previous topic"
I have multiple on click and on before topics.
Even though my onclick topic fails onBefore always gets called.
Is there any way to stop these calls?

[2017-06-27 17:13] sdutry commented on #143
@rahulkumar595
Can you provide some additional information please?

Can you provide us with a code fragment so we can reproduce your situation?

Additional info about the following would be nice
* What items are the topics on?
* Which topics are you expecting to be called ?
* In what order are you expecting them to be called?
* What action are you taking when this happens?
* What do you mean with

[2017-06-28 05:28] rahulkumar595 commented on #143
@sdutry

<sj:submit onClikTopics="1" onBeforeTopics="2" href="some.action"/>

I have to check the value of DB flag if that DB flag is true than only my onBefore call should happen.

In onClicktopic I have used event.orignalEvent.options.submit=false;
Its only blocking server call but not onBefore or any other topic which is getting called before actual server call happens.

[2017-07-07 19:48] dwhite9610 opened #144 "jquery components not working after update from struts2.3.16 to 2.3.32"
Updated from struts 2.3.16.3 to 2.3.32 because of vulnerability recently found.  Now it appears my jquery components are not working.

[2017-07-08 20:45] sdutry commented on #144
Can you provide us with a little more information please.

* What components are you using?
* How exactly are they being used?
* What version of struts2-jquery are you using?
* Are none of the components working anymore or is it just some of them?
* Do you have customizations that change default struts behavior?

[2017-07-10 18:21] dwhite9610 commented on #144
As you can see we have the Tabs across the top, we use accordion and many other components.

[cid:image001.png@01D2F96E.8FB2BC60]

After 2.3.32 – Missing my tabs
[cid:image002.png@01D2F96E.8FB2BC60]

We are using the existing struts2 – jquery3.7.1 pugin

I can’t tell if any of my other components are working because I can’t get past this screen (no tabs).

I don’t believe we have customizations th

[2017-07-10 18:30] dwhite9610 commented on #144
<script type="text/javascript">
                     $(function(){

                           $('#sotasTabs').tabs();
                           $('#tabs-Registration').tabs();
                           $('#tabs-Mail').tabs();
                           $('#tabs-ServiceRequest').tabs();
                           $('#tabs-Alert').tabs();
                           $('#tabs-Administration').tabs(

[2017-07-10 19:05] dwhite9610 commented on #144
How in the world do I download older jquery versions?  I keep getting this SRI deal and don’t know what to do.  Any idea?

From: Stefaan Dutry [mailto:notifications@github.com]
Sent: Saturday, July 08, 2017 1:46 PM
To: struts-community-plugins/struts2-jquery <struts2-jquery@noreply.github.com>
Cc: Deborah White <Deborah.White@doj.ca.gov>; Author <author@noreply.github.com>
Subject: Re: [struts-com

[2017-07-18 05:56] rahulkumar595 opened #145 "onClick Topic not working on Submit Button Click"
onClick Topic not working on Submit Button Click

[2017-07-31 20:48] sdutry commented on #122
upgrade to struts `2.5.12`

[2017-08-29 07:36] sdutry commented on #130
newer version are available

| groupId | artifactId | version  |
| -- | --| --|
| `org.seleniumhq.selenium` | `selenium-server` | `3.5.2` |
| `org.seleniumhq.selenium` | `htmlunit-driver` | `2.27` |

Also needs a managed version of guava since it now suddenly fails the build because of missing method

[2017-08-29 14:09] sdutry commented on #130
with the newest versions, the tests using multiple alerts no longer work.

[2017-08-31 19:27] sdutry commented on #145
I just tried adding a test for the `onClickTopics` attribute on the `submit` tag.

See :
* [branch](https://github.com/sdutry/struts2-jquery/tree/issue145)
* [jsp](https://github.com/sdutry/struts2-jquery/blob/issue145/struts2-jquery-integration-tests/src/main/webapp/WEB-INF/content/includes/submit/on-click-topic.jsp)
* [Test](https://github.com/sdutry/struts2-jquery/blob/issue145/struts2-jquery-i

[2017-08-31 19:38] sdutry opened #147 "speed up travis build by splitting up testruns"
There's 2 seperate test commands that are run with a different profile.
It would be faster if they ran simultaneously.

[2017-09-04 05:36] afattahi54 opened #148 "struts2 jquery grid plugin cause javascript error when grid data is not loaded"
We are using struts2 jquery plugin 4.0.2.
We use sjg:grid to load data from an action.

[code]

The action is

[code]

Also some javascript to handle error cases:
[code]

It works fine whether the grid loads or not.

How ever when I set the sortableRows="true" things change!!

When there is no exception in action and grid data is loaded things are working. However when there is exception and we wr

[2017-09-04 19:29] sdutry commented on #148
Am i summarizing the problem correctly?

- `sjg:grid` tag has attribute `sortableRows="true"`
- The remote action providing the data throws an Exception
- Resulting in a javascript error

I'll see if i can reproduce this tomorrow.

[2017-09-05 11:23] afattahi54 commented on #148
Yes I face another similar issue to.

Just create a grid  which has an href set ( the dataType should not be local)  and set the sortableRows="true" you will face JavaScript error.

To fix it I removed sortableRows="true"  and added below

[code]

[2017-09-05 21:20] sdutry commented on #148
Created project for reproducing the problem
* [https://github.com/sdutry/struts2-jquery-issue-148](https://github.com/sdutry/struts2-jquery-issue-148)

Still have some steps to take in order to reproduce the problem.

In the meantime i think i'm starting to understand what the problem is.

can you try one of the following fixes?

* change the error-handling json object to
[code]
* **or even better

[2017-09-06 06:25] sdutry commented on #122
upgrade to struts `2.5.13`

[2017-09-06 08:58] sdutry commented on #148
Regardless of my previous comment, there does seem to be a problem with the sortableRows attribute

[2017-09-06 11:05] sdutry commented on #148
@afattahi54
Created a [branch](https://github.com/sdutry/struts2-jquery/tree/issue148) to fix it.
Can you check if this fixes your problem.

Steps:
- checkout the branch
[code]
- run `mvn install` to install it localy
[code]
- use version 4.0.3-SNAPSHOT of the localy installed `struts2-jquery-plugin` and `struts2-jquery-grid-plugin` in your project
[code]
- check if the problem still exists

Pleas

[2017-09-07 06:59] sdutry opened #149 "update log4j2 to version 2.9.0"

[2017-09-16 11:48] afattahi54 commented on #148
Dear @sdutry wow! I was on vacation and could not follow this issue. Now I see you have worked on it a lot !
Thanks for your help!

I have tested and the fix worked 👍

When will the 4.0.3 released !

[2017-10-07 01:37] flofourcade commented on #144
May be could you try maven repo ?

[2017-10-07 01:43] flofourcade commented on #143
Think you have a misunderstanding the way topic works. Putting  event.orignalEvent.options.submit=false will prevent submit, but not firing of other topics before the submit. Have a look to the wiki and showcase to see working sample.

[2017-10-08 16:39] sdutry opened #151 "fix struts2-jquery-integration-tests"
### Problem
Since last commit the tests stopped working (see [travis-build](https://travis-ci.org/struts-community-plugins/struts2-jquery/builds/283358089) ).

### Probable cause
jetty-maven-plugin update

### How to simulate

1. Check out current release/4.0.3 branch
2. Execute `mvn install -DskipTests=true -Dmaven.javadoc.skip=true` (so the tests use the current version)
3. Execute `mvn -DskipMi

[2017-10-09 19:39] sdutry commented on #151
problem indeed occurs because of update of jetty-maven-plugin to latest version.

setting it to `9.4.6.v20170531` fixes the problem.

Going to check with the jetty project to see if there's any known issues concerning this.

[2017-10-09 20:09] sdutry commented on #151
posted issue here : https://github.com/eclipse/jetty.project/issues/1879

[2017-10-10 09:42] jogep commented on #151
Thanks for taking care. Looks like they fixed the issue with 9.4.8..xxx.

[2017-10-10 19:06] sdutry commented on #151
issue will indeed be fixed with the next release of the jetty project.

[2017-10-17 22:11] aleksandr-m commented on #122
It's been a while since the last release. Maybe we should release `4.0.3`? Or is there any specific issue that needs to be done before?

Also, have anyone tried to update jQuery to 3.x?

@jogep @sdutry

[2017-10-18 18:58] sdutry commented on #122
@aleksandr-m
i'd love to see pull #138 merged which should fix #46 ,  #36 and #140

I tried making a project for the `4.0.3` release a little while ago see: [Release 4.0.3](https://github.com/struts-community-plugins/struts2-jquery/projects/1)

[2017-11-30 15:39] tonymanello opened #152 "Jquery Grid getting row id not working when deleting"
Hi,

I have a rare issue with an editable grid, when selecting a row and clicking on edit button, I get the object id, however if I click on delete button I get a null id.

Struts2 version: 2.5.10.1
Struts2-jquery plugin version: 4.0.2

Edit JSP:
[code]
CRUD action:

[code]

With edit  buttton it works fine, but whit delete button it doesn't work at all because I get idZone with a null value.

Any

[2017-12-09 12:54] jogep commented on #151
Just upgraded the integration tests to latest version and it runs now in my dev envirnoment again.

[2017-12-09 13:15] jogep commented on #151
But looks like travis still fails.

[2017-12-11 19:01] sdutry commented on #151
@jogep
i'll check it out when i find some time.

[2017-12-15 19:41] sdutry commented on #151
related to https://github.com/ropensci/RSelenium/issues/150

[2018-01-01 15:54] jogep commented on #151
Close issue because version 4.0.3 is released.

[2018-01-01 15:54] #151 closed, assigned to sdutry

[2018-01-01 15:56] jogep commented on #149
Close issue because version 4.0.3 is released.

[2018-01-01 15:56] #149 closed, assigned to sdutry

[2018-01-01 15:56] jogep commented on #148
Close issue because version 4.0.3 is released.

[2018-01-01 15:56] #148 closed, assigned to sdutry

[2018-01-01 15:57] jogep commented on #147
Close issue because version 4.0.3 is released.

[2018-01-01 15:57] #147 closed, assigned to sdutry

[2018-01-01 15:57] jogep commented on #140
Close issue because version 4.0.3 is released.

[2018-01-01 15:57] #140 closed, assigned to flofourcade

[2018-01-01 15:58] jogep commented on #133
Close issue because version 4.0.3 is released.

[2018-01-01 15:58] #133 closed, assigned to sdutry

[2018-01-01 15:58] jogep commented on #132
Close issue because version 4.0.3 is released.

[2018-01-01 15:58] #132 closed, assigned to flofourcade

[2018-01-01 15:59] jogep commented on #130
Close issue because version 4.0.3 is released.

[2018-01-01 15:59] #130 closed, assigned to sdutry

[2018-01-01 15:59] jogep commented on #127
Close issue because version 4.0.3 is released.

[2018-01-01 15:59] #127 closed, assigned to nobody

[2018-01-01 15:59] jogep commented on #122
Close issue because version 4.0.3 is released.

[2018-01-01 15:59] #122 closed, assigned to sdutry

[2018-01-01 16:00] jogep commented on #115
Close issue because version 4.0.3 is released.

[2018-01-01 16:00] #115 closed, assigned to sdutry

[2018-01-01 16:00] jogep commented on #106
Close issue because version 4.0.3 is released.

[2018-01-01 16:00] #106 closed, assigned to jogep, sdutry

[2018-01-01 16:03] jogep commented on #37
Close issue because version 4.0.3 is released.

[2018-01-01 16:03] #37 closed

[2018-01-01 16:03] jogep commented on #40
Close issue because version 4.0.3 is released.

[2018-01-01 16:03] #40 closed

[2018-01-01 16:10] jogep opened #154 "Switch to jQuery 3.x.x version"

[2018-01-02 10:35] sdutry opened #155 "add integration tests for sjg:grid"
Issue extracted from #90 .

[2018-01-02 10:39] sdutry opened #156 "add integration tests for sjdt:datatables"
Issue extracted from #90

[2018-01-02 10:40] sdutry commented on #90
replaced open parts of the issue with #155 and #156

[2018-01-02 10:40] #90 closed

[2018-01-05 01:15] matorodriguez commented on #132
Hi! This leads to exceptions based on the lack of commons-lang (witch at previous version was a dependency of velocity):

Caused by: java.lang.NoClassDefFoundError: org/apache/commons/lang/StringUtils
        at com.jgeppert.struts2.jquery.components.Head.evaluateParams(Head.java:194)

**I believe that commons-lang should be added as a direct dependency for struts2-jquery. And some day update to l

[2018-01-05 03:21] JonathanAJ opened #157 "exportOptions in DataTables plugin"
Hello,

When I export table with PDF or Excel I need to exclude or to hide some columns. How I make this?
Is there a property like this?
`exportHide = [1, 2]`

[2018-01-05 03:55] JonathanAJ commented on #157
**Solution:**

[code]

[2018-01-05 03:55] #157 closed, assigned to nobody

[2018-01-05 06:29] lukaszlenart commented on #132
Switching to lang3 is a better option as Struts2 is using lang3 right now.

[2018-01-28 22:24] matorodriguez commented on #132
How should we handle this? New issue?
Thanks!

[2018-01-29 13:22] aleksandr-m commented on #132
@matorodriguez Yes, open new issue and reference this one, or better provide PR. :)

[2018-01-30 00:30] matorodriguez opened #158 "Removal of velocity dependency leads to exceptions based on the lack of commons-lang"
Removal of velocity dependency (#132 ) leads to exceptions based on the lack of commons-lang (witch at previous version was a dependency of velocity).

Caused by: java.lang.NoClassDefFoundError: org/apache/commons/lang/StringUtils
at com.jgeppert.struts2.jquery.components.Head.evaluateParams(Head.java:194)

I believe that commons-lang should be added as a direct dependency for struts2-jquery. And

[2018-01-30 01:13] matorodriguez commented on #132
@aleksandr-m PR done #159

[2018-02-26 18:22] velinson opened #162 "How to add header to AnchorTag"
Hi,

I need to be able to set header for AnchorTag as in this example with ajax call
$.ajax({
   url: '',
   headers: {  'Access-Control-Allow-Origin': 'htt://site allowed to access' }
   data:,
   type:

})

I  don't see an option in api for AnchorTag. Is there a work around ?

thanks you in advance

Victoria

[2018-03-01 17:37] flofourcade commented on #162
2 options :
- using onBeforeTopic give you a way to access / modify the jqXhr object and for eg add headers.
- using `$.ajaxSetup` in a script tag give you a way ti set up jquery globally for all ajax calls issued by jquery on the page

Note : the use of this header in a request seems unusual. Usually it s found in a web server s response allowing a CORS request ...

[2018-03-11 05:44] afattahi54 opened #163 "4.0.3 release note"
Can you please add the 4.0.3 release note :)
Any new feature or bug fix ?!

[2018-05-11 05:39] mohdrzu opened #164 "Showcase"
Hi, I am currently implement this plugin for my project. I got 502 error when trying to access the showcase website. Is the website has been moved?

[2018-05-11 08:08] sdutry commented on #164
@r-zulman
You are correct. The showcase seems to be down.
I'll see if i can contact the owner.

Workaround to have the showcase available:

1. clone the struts2-jquery repository
2. switch to tag 4.0.3
3. move to folder `struts2-jquery-showcase`
4. run the application on a jetty server: `mvn jetty:run`

[2018-05-11 11:02] jogep commented on #164
Hi I restarted the showcase and it is running again. But like @sdutry already mentioned you always can run the showcase in your local dev environment.

Thank you for informing us about the outage.

[2018-05-11 11:02] #164 closed, assigned to jogep

[2018-08-08 11:00] sdutry commented on #154
What's the status on this issue?

Is there any way i can help with this?

[2018-08-19 13:09] jogep commented on #154
Thanks for offering help on this issue. I hope I can focus on it in the near future and provide an update on this.

[2018-08-19 13:14] #158 closed, assigned to nobody

[2018-09-18 07:56] marwin1991 commented on #142
some solutions ?

[2018-10-24 09:52] hkfechner opened #165 "Struts2.5.18 and jquery-plugin 4.0.2 do not work together"
Since struts2.5.18 and jquery-plugin 4.0./4.0.3 (running on tomcat 8.5.34) javascript and jquery-files (contained in struts2-core-2.5.18.jar) can't be loaded.
Until struts2.5.17 and  jquery-plugin 4.0./4.0.3 appplication works fine.
As attachmend i will send screenshorts and a ant-based eclipse-project (test.zip).

[test.zip](https://github.com/struts-community-plugins/struts2-jquery/files/2509940

[2018-10-24 10:00] lukaszlenart commented on #165
Can you post logs from container? And what other plugins do you use (bootstrap)?

[2018-10-24 10:21] hkfechner commented on #165
Dear Mr. Lenart

As attachment I send the tomcat- and application-log (2517..: application runs with strut2-core-2.5.17, 2518..: application runs with strut2-core-2.5.17).

Best regards
Dr. Siegfried Fechner
Abteilung / Referat: TI1 /TI15

Deutscher Wetterdienst
Frankfurter Straße 135
63067 Offenbach/Main

Tel:       069 8062-2865
Fax:      069 8062- 3566
E-Mail: siegfried.fechner@dwd.de<mailto:si

[2018-10-24 10:25] hkfechner commented on #165
Dear Mr. Lenart,

we use for our applications only „pure“ javascript, jquery and jqueryui.

Best regards
Dr. Siegfried Fechner
Abteilung / Referat: TI1 /TI15

Deutscher Wetterdienst
Frankfurter Straße 135
63067 Offenbach/Main

Tel:       069 8062-2865
Fax:      069 8062- 3566
E-Mail: siegfried.fechner@dwd.de<mailto:siegfried.fechner@dwd.de>
http://www.dwd.de<http://www.dwd.de/>

Von: Lukasz Lenart

[2018-10-24 13:33] lukaszlenart commented on #165
GitHub doesn't accept other attachments than images. Please examine the logs, maybe there is an issue with loading classes.

[2018-10-25 04:19] hkfechner commented on #165
Dear Mr. Lenart

As attachment I send the tomcat- and application-logs (2517..: application runs with strut2-core-2.5.17, 2518..: application runs with strut2-core-2.5.17).
[logs.zip](https://github.com/struts-community-plugins/struts2-jquery/files/2513249/logs.zip)

[2018-10-25 05:20] lukaszlenart commented on #165
Do you use {{devMode=true}}? Please try to disable it and test again. Also clean up Tomcat's temp folder.

[2018-10-25 05:20] lukaszlenart commented on #165
It is probably related to this issue
https://lists.apache.org/thread.html/3c44da89a32ae0882a07644464c99d52c579fc449d6f67e3a3682f4f@%3Cdev.struts.apache.org%3E

you can post your comments there

[2018-10-25 05:35] hkfechner commented on #165
Dear Mr. Lenart,

I had published Logs, based on “devMode=true”

Best regards
Dr. Siegfried Fechner
Abteilung / Referat: TI1 /TI15

Deutscher Wetterdienst
Frankfurter Straße 135
63067 Offenbach/Main

Tel:       069 8062-2865
Fax:      069 8062- 3566
E-Mail: siegfried.fechner@dwd.de<mailto:siegfried.fechner@dwd.de>
http://www.dwd.de<http://www.dwd.de/>

Von: Lukasz Lenart [mailto:notifications@gith

[2018-10-25 06:04] lukaszlenart commented on #165
Do you use Maven? If such could you publish result of `mvn dependency:tree`? If not could you list all the JARs from `WEB-INF\lib`?

[2018-10-25 06:12] hkfechner commented on #165
sorry, security constrains of Deutscher Wetterdienst do not accept access to Maven repository outsite DWD. There we can’t use Maven. Therefore  I had published an ANT-Project.

[logs2018_10_25.zip](https://github.com/struts-community-plugins/struts2-jquery/files/2513524/logs2018_10_25.zip)

[2018-10-25 06:14] hkfechner commented on #165
Sorry here are the list.
[lib_liste.txt](https://github.com/struts-community-plugins/struts2-jquery/files/2513531/lib_liste.txt)

[2018-10-25 06:26] sdutry commented on #165
.jar.org files should not be in your dependencies (they should be .jar
files and they're also from 2 different versions?)

-rw------- 1 sfechner ti1 1635849 14. Aug 04:59 struts2-core-2.5.17.jar.org
-rw-r--r-- 1 sfechner ti1 1635959 18. Sep 13:38 struts2-core-2.5.18.jar.org

Op do 25 okt. 2018 om 08:14 schreef hkfechner <notifications@github.com>:

[2018-10-25 06:36] hkfechner commented on #165
dependents on test only struts2-core-2.5.17.jar OR struts2-core-2.5.18.jar are included (*.org only archives, without influence on libs); same result, if *.org not in lib directory).

Best regards
Dr. Siegfried Fechner
Abteilung / Referat: TI1 /TI15

Deutscher Wetterdienst
Frankfurter Straße 135
63067 Offenbach/Main

Tel:       069 8062-2865
Fax:      069 8062- 3566
E-Mail: siegfried.fechner@dwd.d

[2018-10-25 07:10] sdutry commented on #165
I just did a small test using struts version 2.5.18 and the struts2-jquery-plugin version 4.0.2 and it seems to work.

Can you please post us a demo jsp file in which we can see how the struts2-jquery tags are used and with which attributes? particularly the `<sj:head/>` tag

[2018-10-25 07:21] lukaszlenart commented on #165
I think it's a matter of outdated dependencies but our page is also outdated - it targets 2.5.14.1 ;-)

https://struts.apache.org/maven/struts2-core/dependencies.html

Right now I'm working to fix that

[2018-10-25 07:29] hkfechner commented on #165
Dear Mr.  Dutry

As attachment I send our jsp-structure, including all  used *. Jspf

<sj:head/> tag is a standard tag from jquery-plugin

Best regard
Dr. Siegfried Fechner
Abteilung / Referat: TI1 /TI15

Deutscher Wetterdienst
Frankfurter Straße 135
63067 Offenbach/Main

Tel:       069 8062-2865
Fax:      069 8062- 3566
E-Mail: siegfried.fechner@dwd.de<mailto:siegfried.fechner@dwd.de>
http://www.

[2018-10-25 07:42] sdutry commented on #165
@hkfechner
I'm not seeing the attachments.

can you also please list the jars that are in the WEB-INF/lib folder after deploying to the tomcat?
Just trying to get a full picture.

I'll take a thorough look into this this evening and create a minimal project trying to reproduce your problem.

[2018-10-25 07:45] hkfechner commented on #165
Sorry!!
Our mailserver blocked this zip-file

[Issue165_jsp_struktur.ZIP](https://github.com/struts-community-plugins/struts2-jquery/files/2513838/Issue165_jsp_struktur.ZIP)

[2018-10-25 07:49] lukaszlenart commented on #165
Ok, the page is up2date now https://struts.apache.org/maven/struts2-core/dependencies.html

I had the same issue but re-building and cleaning up temp folder worked for me, there is a dependency clash but I'm not sure which JARs are the reason.

[2018-10-25 08:23] hkfechner commented on #165
„can you also please list the jars that are in the WEB-INF/lib folder after deploying to the tomcat?
Just trying to get a full picture.
I'll take a thorough look into this this evening and create a minimal project trying to reproduce your problem.”
I send You the list of the WEB-INF/lib folder after deploying to the tomcat:
1058767   56 -rw-r----- 1 sfechner ti1   53259 25. Okt 10:13 asm-5.2.jar
1

[2018-10-25 20:50] sdutry commented on #165
@hkfechner
tried to make a project with the exact same library dependencies:
see: https://github.com/sdutry/struts2-jquery-issue165-poc

items of interest:
* txt file with dependency list (should show the same libraries you mentioned)
* war inside build folder

i only tried running it with the jetty plugin localy so far, but the jquery files all loaded and i didn't have a problem. (so http on port

[2018-10-26 06:35] hkfechner commented on #165
I found the problem!

if some constants ar use insite struts.xml application can be failed (depends on constant and value)
examples.:
<constant name="struts.devMode" value="false" /> true is ok, false fails!
<constant name="struts.configuration.xml.reload" value="false" />true is ok, false fails!

[2018-10-26 06:40] hkfechner commented on #165
I found the problem!

if some constants are used insite struts.xml, application can be failed (depends on constant and value)
examples:
"struts.devMode": true is ok, false fails
"struts.configuration.xml.reload": true is ok, false fails

[2018-10-26 06:49] hkfechner commented on #165
I found the problem!

if some constants are used insite struts.xml, application can be failed (depends on constant and value)
examples:
**--sorry, correct is:**
"struts.devMode": false is ok, true fails
"struts.configuration.xml.reload": false is ok, true fails

[2018-10-26 06:53] sdutry commented on #165
aha, you're right.
[code]
This lets me reproduce the problem.
I'll look into it this evening to find the exact cause.

Until then i'd suggest putting those values to false.

[2018-10-26 06:55] sdutry commented on #165
seeing the line number it would suggest that the variable `pathPrefixes` is `null`

[2018-10-26 19:12] sdutry commented on #165
@lukaszlenart

Do you know this by heart?
It seems the `DefaultStaticContentLoader` is recreated for each request if it's set to `struts.devMode=true`
therefore the method setHostConfig doesn't get called on the new instance and that means the `pathPrefixes` variable is `null`, causing the NPE.
Is this the expected behavior?
[code]

[2018-10-27 06:59] lukaszlenart commented on #165
The only idea I have is because of fixed `FileManager` which properly reloads files now, it is related to this issue
https://issues.apache.org/jira/browse/WW-4948

[2018-10-27 07:01] lukaszlenart commented on #165
I mean, it properly reloads JARs now, this was somehow broken in previous versions

[2018-11-05 09:54] jperezdelafuente opened #166 "Update FAQ wiki "Which jQuery versions are used in this plugin?""
In FAQ wiki the table in section "Which jQuery versions are used in this plugin?" is outdated to version 4.x

https://github.com/struts-community-plugins/struts2-jquery/wiki/FAQ#which-jquery-versions-are-used-in-this-plugin

Could you update this table, please?

Thanks!

[2018-11-07 14:04] jperezdelafuente opened #167 "Dialog show error when publish close event"
In version 4.0.3, I'm getting errors in console when trying to close dialog by publish close event.
Struts 2.5.18
struts2-jquery
I used the following browsers:
Chrome: 70.0.3538.77 (Build oficial) (64 bits)

**Dialog**
`<sj:dialog
        id="pop_up_dialog"
        title=""
        autoOpen="false"
        modal="true"
        width=""
        height=""
        resizable="false"
        closeTopic

[2018-11-07 14:40] jperezdelafuente commented on #167
If I change sj:submit by sj:a it´s work correctly:
`					<sj:a
					   	id="botonCancel"
					   	button="true"
					   	onClick="$.publish('closeDialog');"

					 	<s:text name="%{getText('cancel')}"/>
					</sj:a>	`

[2018-12-02 14:09] unciax commented on #111
Is there any way to solve it?
Have same problem with 4.0.3 + struts 2.5.18.

[2018-12-03 05:32] unciax commented on #111
I think I found a solution to fix it.
Replace jquery.jqGrid.js with https://github.com/free-jqgrid/jqGrid/blob/v4.7.0/js/jquery.jqGrid.js and add require(ui.multiselect.js) to jquery.grid.struts2.js

[2018-12-12 16:24] nitinperi opened #169 "de"

[2018-12-12 17:27] #169 closed, assigned to nobody

[2019-01-09 14:13] yasserzamani opened #170 "after 3.3.3 to 3.5.1 upgrade, the submit tag submits each form separately"
There is a submit tag which has two form ids and one target in `formIds` and `targets` attributes. In version 3.3.3 it aggregates those two forms params then submits all in just one ajax request. After upgrade to 3.5.1, now it submits each of those forms separately in two ajax requests.

I discovered it is because in 3.3.3 [$.struts2_jquery.handler.load](https://github.com/struts-community-plugins

[2019-03-14 20:52] nazario1 opened #171 "Issue upgrading from 3.7.1 to 4.0.3"
The following worked in 3.7.1 but is giving an exception in 4.0.3

uncaught exception: jqGrid - No such method: navGrid, also same error for navButtonAdd

              $("#myTreeGrid").jqGrid('navGrid','#myTreeGridPager',{view:false, edit:false, add:false, del:false, refresh:false, cloneToTop:true},{}, {}, {}, {multipleSearch : true}, {closeOnEscape:true})
              .jqGrid('navButtonAdd',"#m

[2019-03-14 21:02] nazario1 opened #172 "Timeframe for use of jQuery 3.3.1"
When will struts2-jquery start using the latest jQuery 3.3.1. Currently, the <sj:head tag generates the following, which means it's using jQuery version 2.2.4;

<script type="text/javascript" src="/nepedia/struts/js/base/jquery-2.2.4.js"></script>
<script type="text/javascript" src="/nepedia/struts/js/base/jquery-ui.js?s2j=4.0.3"></script>
<script type="text/javascript" src="/nepedia/struts/js/plu

[2019-03-18 14:35] pramreadonly opened #173 "How to stop sj:div from updating"
Using Struts 2.5.20 and Struts-JQuery 4.0.3

When using an element of sj:div which reloads using the updateFreq attribute

    <sj:div id="jobStatus" href="%{requestUrl}" updateFreq="3000" requestType="GET" indicator="indicator"/>

Is there a way to signal that reloading should stop?

For reference I am trying to replicate the behaviour of the old Dojo sx:div tag which had a listener topic which i

[2019-03-28 09:49] mrmaniac2416 opened #174 "Onbeforetopic in submit does not change html attribute."
`$.subscribe('enable',` function(event,data) {

	document.getElementById('mysel').disabled = false;

	});`

i am trying to enable this attribute in my form but it goes as a disabled attribute while submitted .
i m calling this submit button here
`
<sj:submit value="Save" targets="formResult" indicator="indicator" onCompleteTopics="complete" onBeforeTopics="enable"/>`

[2019-04-26 01:47] nazario1 opened #175 "How often are the issues placed here looked at?"
I posted two questions back in March and there has been no response yet. Please advise.
Thanks,
Oscar

[2019-10-02 12:02] jnhelal commented on #166
Same for me I cannot figure out what is jquery-ui version used by struts2-jquery 4.0.3

My problem is that $(sometextefield).autocomplete() do not exists.

[2019-10-02 12:15] jnhelal opened #176 "Cannot use jquery-ui/autocomplete() directly"
Hi

I have some code that uses jquery-ui 1.12.1 autocomplete().
After moving to struts2-jquery plugin 4.0.3:  $(sometextfied).autocomplete() do not exist

- Is it allowed to use jquery like this (in a way directly since I do want to use the autocompleter) ?
- If so what is the exact jquery-ui version used by the sj:head tag that expand to something like jQuery.struts2_jquery.require("js/struts2/jq

[2019-10-30 18:49] kjsnyder838825 commented on #171
Oscar, I've started working this issue and it appears that the jqgrid support in the latest struts2 release does not include the treegrid libraries.

Is anyone out there monitoring this issue or have some suggestions as to a work-around other than not upgrading?

[2019-12-06 09:15] jnhelal commented on #175
Same for me !

[2019-12-06 10:59] lukaszlenart commented on #175
I think it would be better to ask on [the Struts User mailing list](https://lists.apache.org/list.html?user@struts.apache.org) instead. This isn't an officially supported plugin by the Struts team but there is a few people involved in the plugin development.

[2019-12-06 14:49] nazario1 commented on #175
Lukasz,
THANK YOU VERY MUCH!!! We have been unable to upgrade from 3.7.1 to 4.0.3 due to this issue. The treegrid libraries are not included. Here is my initial post back on March 2019 https://github.com/struts-community-plugins/struts2-jquery/issues/171
Oscar

From: Lukasz Lenart <notifications@github.com>
Sent: Friday, December 6, 2019 2:59 AM
To: struts-community-plugins/struts2-jquery <struts2

[2020-01-14 20:51] nitinperi opened #178 "Struts2 JQuery Plugin 4.0.3 - Grid with search/filter issue"
Issue: Grid not retaining the filter criteria applied once it loses the focus if a popup window is open and when the focus come back after user operation. Please see the scenario below.

•	User open a page with a list of employee grid on it. User wait till the grid is done loading first time and displaying all the results (100 rows) which are pulled from database.
•	User click the Find/Search feat

[2020-09-04 11:03] vitthalpatil1985 opened #183 "tabbedpanel and tab not showing Loader text or image when clicked on tab"
tabbedpanel and tab not showing Loader text or image when clicked on tab
struts-jquery-plugin version 4.0.3
struts 2 version 2.5.22

it is working with struts 2.3.4 and struts-jquery-plugin 3.4.0

tried with both indicator and loadingText attributes of <sj:tab> tag

[2020-09-28 18:52] peutch opened #184 "in 4.0.3: there are still imports from org.apache.commons.lang here and there (in Head.java for instance)"
Hi,

Running a project without any dependency pooling commons-lang, I was facing an exception:

[2020-09-28 08:52:30] [info] Caused by: java.lang.NoClassDefFoundError: org/apache/commons/lang/StringUtils
[2020-09-28 08:52:30] [info] #011at com.jgeppert.struts2.jquery.components.Head.evaluateParams(Head.java:196) ~[struts2-jquery-plugin-4.0.3.jar:?]
[2020-09-28 08:52:30] [info] #011at org.apache.st

[2021-03-17 21:33] zon7 opened #192 "Use non minified version"
Is it possible to make the plugin use the non min version? I'm having a JS script and is very difficult to find it at the moment.

[2021-05-03 21:51] lalumastan opened #194 "Old jQuery Libary 2.2.4 has security issues so need to upgrade to jQuery 3.5.0+ preferably jQuery 3.6.0"
**Title**
During a recent Acunetix Security Audit, the scanner flagged "jquery 2.2.4" as a vulnerable JavaScript library.  So the jQuery library needs to be upgraded to jQuery 3.5.0+ preferably jQuery 3.6.0.  Please find the details below:

**Description**
You are using one or more vulnerable JavaScript libraries. One or more vulnerabilities were reported for this version of the library. Consult A

[2021-05-03 21:57] lalumastan commented on #194
I already updated my local copy by adding the new library and updating the following files:

modified:   struts2-jquery-mobile-plugin/src/main/resources/template/mobile/head.ftl
modified:   struts2-jquery-plugin/src/main/resources/template/jquery/head.ftl
deleted:    struts2-jquery-plugin/src/main/resources/template/js/base/jquery-2.2.4.min.js
deleted:    struts2-jquery-plugin/src/main/resources/t

[2021-05-11 06:28] jogep commented on #192
Yes, just set the `sj:head `attribute `compressed` to `false`.

[2021-05-11 06:28] #192 closed, assigned to nobody

[2021-09-20 10:38] marwin1991 commented on #194
IMO this is one of the most important things to do

[2021-09-20 10:40] marwin1991 commented on #154
Hello, is there any progress ?
I have been using this plugin with 3.3.1 sttruts and everything was working correctly, but after migrating to 3.6.0 datepicker stoped working

[2021-09-20 10:45] marwin1991 commented on #154
After migrating to 3.6.0 of jquery I had a problem with mimification, so it can be alos here a good idea to start sovling problems.

[2021-12-06 10:30] marcastel opened #196 "v3.6.1 – Element type "struts" must be declared"
Hello,

I have a old application which has been running correctly for years. There was a server maintenance this weekend which shuffled directories around.. and probably interrupted some sockets. But nothing was removed from the system.Since, I have been unable to restart the application and keep getting the same error over and over again. Help would be greatly appreciated as this legacy applicati

[2021-12-06 12:18] lukaszlenart commented on #196
Looks like your Tomcat cannot validate struts-plugin.xml against DTD or something like this. I would check if you can access https://struts.apache.org/dtds/ from within the Tomcat.

[2021-12-06 16:38] marcastel commented on #196
Hi @lukaszlenart. Yep I tried that. Yes the site is reachable. I went down that line. But after thoughts, do you really think the DTD's URL would be looked up on each go? I am under the impression that the exception is the consequence of something else, but I don't know how to pinpoint it. Sounds reasonable ? How would you go about it?

I have tried to put all the logs I find to FINEST... but stru

[2021-12-06 21:00] aleksandr-m commented on #196
I vaguely remember seeing this very long time ago. Have you tried to clean work and temp catalogs before starting tomcat?
Can you show the struts-plugin.xml that is being used?

[2021-12-06 22:24] marcastel commented on #196
Hi @aleksandr-m. Yes I purged `work`, `temp`, and also the `conf/Catalina` directories. Below the `struts-plugin.xml` from the `struts2-jquery-plugin-3.6.1.jar` jarball.

[code]

[2021-12-07 06:20] lukaszlenart commented on #196
It will be a problem with DTD validation, some old versions of Tomcat/SAX parsers had a bug that they always fetched DTD from a remote site even if the DTD was included locally in a JAR. It's the same case here but now it's a problem with `http://` vs `https://` - all the Apache sites use `https` these days and do an automatic redirection (HTTP 302) if someone hits `http://`. Your `struts-plugin.x

[2021-12-07 14:07] aleksandr-m commented on #196
With java 1.7 it can be some problems with certificates for https. There was some workaround to include dtd locally, but then again it can be that bug that Lukasz mentioned.

[2021-12-08 06:58] lukaszlenart commented on #196
I reported an issue to INFRA team, maybe they will help.
https://issues.apache.org/jira/browse/INFRA-22590

[2021-12-08 10:48] marcastel commented on #196
@lukaszlenart Thanks.

In the interim, I adopted the following workaround:

a) Copied struts DTD (as found in `struts-plugin.xml`) to localhost and assigned it a public URL
b) Patched plugin's JARball with that URL<sup>(a)</sup>
c) Added the `struts-2.3.dtd` to `struts2-core-2.2.3.jar`

<sup>(a)</sup> In fact I patched this way the following plugins:
- `struts2-config-browser-plugin-2.3.37.jar`
-

[2021-12-09 17:20] lukaszlenart commented on #196
INFRA disabled forcing https for `/dtds/` prefix

[2021-12-09 17:20] #196 closed, assigned to nobody

[2022-03-31 11:08] RicardoDias19 opened #198 "Problem migrating from struts2 2.3 to 2.5 - Maybe struts-jquery-plugin issue"
I got a problem while using struts2 2.5.9 and struts2-jquery-plugin 4.0.3.
Actionmessages and actionErrors does not show up anymore. FieldError is displayed saying that value type for this fields (actionmessages and actionerrors) are not valid.

I read 2.5 api and nothing changed about it. addActionMessage() and addActionError() still receive a String as argument.
No exception is thrown. I do thin

[2022-04-01 12:24] RicardoDias19 commented on #198
Do Struts2.5.29 and jquery-plugin 4.0.3  work together?

[2022-04-01 12:43] RicardoDias19 opened #201 "struts2-jquery-plugin version"
Any new version of struts2-jquery-plugin coming?
The latest version is from 2018... Let me know it: why is this plugin not officially supported by struts2 team?
What are the issues to keep support to it?

[2022-04-01 12:44] RicardoDias19 commented on #201
I am asking about it 'cause I'd like to know if I can help somehow.

[2022-04-28 09:53] chinkinsei commented on #194
attached is just blind overwriting the 2.2.4 files with 3.6.0 and it worked for my tiny application.
i am sure its not the correct way to do but its better than nothing done at all.
feel free to try, without any warranties (remove the .zip extension from filename)
[struts2-jquery-plugin-4.0.3r1.jar.zip](https://github.com/struts-community-plugins/struts2-jquery/files/8581609/struts2-jquery-plugin-

[2022-06-10 15:41] Farbfetzen opened #204 "struts2-jquery-plugin not compatible with struts 6.0.0"
Hello, today I updated struts from 2.5.30 to 6.0.0.

My app compiles and starts fine but when I try to access a page I get the following error:
[code]

I tried setting the flag `struts.ui.escapeHtmlBody` to `false` but this did not solve the problem. Installing version 4.1.0-SNAPSHOT did not help either.
Do you know if it would somehow be possible to use the plugin with the newest struts? Maybe th

[2022-06-11 11:34] sdutry opened #205 "fix integration tests on build"
Integration tests are currently being skipped.

Look into fixing them.

[2022-06-13 20:41] sdutry opened #206 "create branch version 5.0.x"
Start from branch 4.x.x

[2022-06-13 20:49] #206 closed, assigned to sdutry

[2022-06-13 21:04] sdutry opened #207 "update java version to 1.8"

[2022-06-13 21:30] sdutry opened #210 "change JQuery version to 3.6.0"

[2022-06-13 21:32] sdutry commented on #210
task only comprises of changing the JQuery files, getting everything to work part by part will be seperate tasks

[2022-06-13 21:32] sdutry opened #211 "change struts version to 6.0.0"

[2022-06-13 21:33] sdutry commented on #211
update the struts version to 6.0.0 and get everything working again

[2022-06-13 21:37] sdutry opened #212 "update log4j to version 2.17.2"

[2022-06-13 21:48] sdutry commented on #201
Work has started on a new version that will use JQuery 3.6.0 and struts 6.0.0.

[2022-06-13 21:49] sdutry commented on #194
Work has started on a new version that will use JQuery 3.6.0 and struts 6.0.0

[2022-06-13 21:50] sdutry commented on #194
related issue #210

[2022-06-13 21:52] sdutry opened #214 "update maven plugin versions"

[2022-06-14 20:31] sdutry opened #216 "cleanup poms"

[2022-06-15 11:07] sdutry opened #218 "get showcase app working again"

[2022-06-15 11:08] sdutry commented on #218
get it back running after updating struts and the jetty plugin

[2022-06-15 15:38] sdutry commented on #218
seems to just work if you start it correctly

[2022-06-15 20:10] sdutry opened #219 "update jquery-ui javascripts to version 1.13.1"

[2022-06-16 20:48] sdutry commented on #218
i was wrong,

[2022-06-17 20:56] sdutry opened #222 "fix Link with Highlight Effect in showcase-app"
[code]

[2022-06-17 20:58] sdutry opened #223 "fix div - Resizable in showcase-app"
[code]

[2022-06-17 21:01] sdutry opened #224 "fix div - Reload submit button in showcase-app"
error on clicking submit:
[code]

[2022-06-17 21:04] sdutry opened #225 "fix div > Drag and Drop in showcase-app"
[code]

[code]

[2022-06-17 21:06] sdutry opened #226 "fix form with velocity in showcase-app"
[code]

[2022-06-17 21:10] sdutry opened #227 "fix Form > Ajax Textarea Resizable in showcase-app"
[code]

[2022-06-17 21:12] sdutry opened #228 "fix Form > Ajax Textfield Resizable in showcase-app"
[code]

[2022-06-23 11:21] sdutry opened #231 "replace loadfromgoogle with loadfromcdn"

[2022-06-23 11:22] sdutry commented on #231
jquery-ui is no longer hosted from the former google url.
replace with jquery code urls.

See: [https://releases.jquery.com/](https://releases.jquery.com/)

[2022-06-23 11:35] #225 closed, assigned to sdutry

[2022-06-23 11:36] #223 closed, assigned to sdutry

[2022-06-23 11:36] #222 closed, assigned to sdutry

[2022-06-23 11:37] #218 closed, assigned to sdutry

[2022-06-23 11:37] #210 closed, assigned to sdutry

[2022-06-23 11:38] #207 closed, assigned to sdutry

[2022-06-23 11:38] #211 closed, assigned to sdutry

[2022-06-23 11:38] #212 closed, assigned to sdutry

[2022-06-23 11:38] #214 closed, assigned to sdutry

[2022-06-23 11:39] #219 closed, assigned to sdutry

[2022-06-23 11:43] sdutry commented on #201
Will be part of the release 5.0.0

[2022-06-23 11:43] #201 closed, assigned to nobody

[2022-06-23 11:46] sdutry commented on #204
will be part of the upcoming 5.0.0

identical to #211

[2022-06-23 11:46] #204 closed, assigned to nobody

[2022-06-23 11:53] sdutry commented on #175
Although issues here were not looked at often, development recently got picked back up.

The main focus of the development atm is focused on the following:

- compatibility with struts version 6.0.0
- update of jquery library to version 3.6.0
- update of jquery-ui to version 1.13.1

Once this release finaly happens, the other issues will be picked up again, most likely only for the new version of

[2022-06-23 11:53] #175 closed, assigned to nobody

[2022-06-23 11:54] sdutry commented on #194
part of the upcoming 5.0.0 release which updates jQuery, jQuery-ui and struts

[2022-06-23 11:54] #194 closed, assigned to nobody

[2022-06-23 11:58] sdutry commented on #154
will be part of the 5.0.0 release with update jQuery, jQuery ui and struts version

see: #210

[2022-06-23 11:58] #154 closed, assigned to jogep

[2022-06-23 12:00] sdutry commented on #172
upcoming version 5.0.0 will work with jQuery 3.6.0

see : #210

[2022-06-23 12:00] #172 closed, assigned to nobody

[2022-06-26 07:42] sdutry opened #233 "get struts2-jquery-grid-showcase running again"

[2022-06-26 07:43] sdutry commented on #233
verify the grid showcase app with the new versions

[2022-06-26 07:43] sdutry opened #234 "verify struts2-jquery-mobile-showcase"

[2022-06-26 07:43] sdutry commented on #234
verify the mobile showcase with the new libraries

[2022-06-26 21:06] sdutry opened #235 "update spring version to 5.3.21"

[2022-06-26 21:06] sdutry commented on #235
module:
`struts2-jquery-grid-showcase`

[2022-06-26 21:37] sdutry commented on #184
already seemed fixed by now, updated poms to fixate the version of commons lang

[2022-06-26 21:47] sdutry opened #236 "update hibernate to version 5.6.9.Final"

[2022-06-27 08:53] sdutry opened #237 "update struts-annotations version to 1.0.7"

[2022-06-27 08:53] sdutry commented on #237
[STRUTS_ANNOTATIONS_1_0_7](https://github.com/apache/struts-annotations/releases/tag/STRUTS_ANNOTATIONS_1_0_7)

[2022-06-27 09:13] #184 closed, assigned to sdutry

[2022-06-27 09:13] #216 closed, assigned to sdutry

[2022-06-27 09:13] #235 closed, assigned to sdutry

[2022-06-27 09:13] #236 closed, assigned to sdutry

[2022-06-27 09:13] #237 closed, assigned to sdutry

[2022-06-28 05:15] #233 closed, assigned to sdutry

[2022-06-28 21:41] sdutry opened #240 "fix navigation inside the struts2-jquery-mobile-showcase"

[2022-06-28 21:42] sdutry commented on #240
- back to start button not working
- plugin homepage points to google code archive

[2022-06-29 05:09] #234 closed, assigned to sdutry

[2022-06-30 20:12] sdutry opened #242 "Bump derby form 10.11.1.1 to 10.14.2.0"

[2022-06-30 20:16] #242 closed, assigned to sdutry

[2022-07-01 11:26] sdutry opened #244 "upgrade tests to junit 5"

[2022-07-05 14:29] sdutry opened #245 "update log4j to version 2.18.0"
[log4j 2.18.0](https://logging.apache.org/log4j/2.x/changes-report.html#a2.18.0)

[2022-07-05 20:56] sdutry opened #246 "fix test AccordionTagIT.java"

[2022-07-05 20:57] sdutry opened #247 "fix test AutocompleterTagIT.java"

[2022-07-05 20:57] sdutry opened #248 "fix test TreeTagIT.java"

[2022-07-05 20:58] sdutry opened #249 "add phantomJS tests back to project"

[2022-07-05 21:10] #245 closed, assigned to sdutry

[2022-07-06 05:44] #205 closed, assigned to sdutry

[2022-07-07 05:26] #244 closed, assigned to sdutry

[2022-07-07 22:25] sdutry opened #254 "update lombok version to version 1.18.24"

[2022-07-07 22:30] #254 closed, assigned to sdutry

[2022-07-08 05:18] #226 closed, assigned to sdutry

[2022-07-08 06:23] sdutry opened #256 "verify jquery mobile plugin showcase to not require velocity and remove if it's the case"

[2022-07-08 06:26] sdutry opened #257 "update maven.yml for the java CI with maven action"

[2022-07-08 06:27] sdutry opened #258 "make sure build succeeds with for java CI"

[2022-07-08 06:28] sdutry commented on #258
depends on #257

[2022-07-08 15:21] #257 closed, assigned to sdutry

[2022-07-08 15:34] #258 closed, assigned to sdutry

[2022-07-08 15:50] #256 closed, assigned to sdutry

[2022-07-08 16:00] sdutry opened #262 "verify jquery grid plugin to not require velocity and remove if it's the case"

[2022-07-08 16:06] #262 closed, assigned to sdutry

[2022-07-11 06:44] sdutry opened #264 "update hibernate to version 5.6.10.final"

[2022-07-11 06:45] sdutry opened #265 "update hibernate-validator to version 7.0.4.Final"

[2022-07-11 06:46] sdutry commented on #265
[code]

[2022-07-11 21:58] sdutry commented on #265
used below version to stay compatible with jetty for the java version
[code]

[2022-07-12 05:28] #264 closed, assigned to sdutry

[2022-07-12 05:28] #265 closed, assigned to sdutry

[2022-07-13 05:50] #231 closed, assigned to sdutry

[2022-07-14 21:22] sdutry opened #268 "jquery-mobile is not supported anymore and is no longer compatible with jQuery core"

[2022-07-14 21:46] #240 closed, assigned to sdutry

[2022-07-14 22:03] sdutry commented on #268
see:

- [jQuery Mobile homepage](https://jquerymobile.com/)
- [deprecation of jQuery Mobile](https://blog.jquerymobile.com/2021/10/07/jquery-maintainers-continue-modernization-initiative-with-deprecation-of-jquery-mobile/)

[2022-07-14 22:19] sdutry opened #271 "gather changes for release notes and documentation updates"

[2022-07-14 22:34] sdutry commented on #271
# changeLog
- required java version: `8`
- upgrades:
  - `struts` : `6.0.0`
  - `jQuery`: `3.6.0`
  - `jQuery UI`: `1.13.2`
 - rename `loadfromgoogle `to `loadfromcdn`

# migration guide
- discontinuation of `struts2-jquery-mobile` (since `jQuery Mobile` is discontinued)
- head attribute `loadfromgoogle `was renamed to `loadfromcdn` (jQuery CDN is now used)
- removed deprecated `resizableDelay` an

[2022-07-14 22:36] sdutry opened #272 "update jquery-ui to version 1.13.2"

[2022-07-14 22:37] sdutry commented on #272
[jQuery UI 1.13.2 announcement](https://blog.jqueryui.com/2022/07/jquery-ui-1-13-2-released/)

[2022-07-15 12:13] sdutry opened #273 "add unit tests"

[2022-07-16 09:28] #268 closed, assigned to sdutry

[2022-07-17 07:35] sdutry opened #276 "remove deprecated distance and delay on resizable"

[2022-07-17 07:37] sdutry commented on #276
see:

- [Deprecate distance and delay](https://bugs.jqueryui.com/ticket/10615)
- [resizable option delay](https://api.jqueryui.com/resizable/#option-delay)
- [resizable option distance](https://api.jqueryui.com/resizable/#option-distance)

`AbstractContainer`
[code]

[2022-07-17 07:58] sdutry opened #277 "replace droppable activeclass hoverclass with the classes option"

[2022-07-17 08:01] sdutry commented on #277
see:
- [droppable hoverClass option](https://api.jqueryui.com/droppable/#option-hoverClass)
- [droppable activeClass option](https://api.jqueryui.com/droppable/#option-activeClass)
- [Droppable: Deprecate hoverClass and activeClass options](https://bugs.jqueryui.com/ticket/12162)

`AbstractContainer`

[2022-07-17 08:46] sdutry opened #278 "remove deprecated distance and delay on draggable"

[2022-07-17 08:47] sdutry commented on #278
see:

- [Deprecate distance and delay](https://bugs.jqueryui.com/ticket/10615)
- [resizable option delay](https://api.jqueryui.com/draggable/#option-delay)
- [resizable option distance](https://api.jqueryui.com/draggable/#option-distance)

`AbstractContainer`
[code]

[2022-07-17 09:04] sdutry opened #279 "remove deprecated distance and delay on selectable"

[2022-07-17 09:05] sdutry commented on #279
see:

- [Deprecate distance and delay](https://bugs.jqueryui.com/ticket/10615)
- [resizable option delay](https://api.jqueryui.com/selectable/#option-delay)
- [resizable option distance](https://api.jqueryui.com/selectable/#option-distance)

`AbstractContainer`
[code]

[2022-07-17 09:23] sdutry opened #280 "remove deprecated distance and delay on sortable"

[2022-07-17 09:24] sdutry commented on #280
see:

- [Deprecate distance and delay](https://bugs.jqueryui.com/ticket/10615)
- [resizable option delay](https://api.jqueryui.com/sortable/#option-delay)
- [resizable option distance](https://api.jqueryui.com/sortable/#option-distance)

`AbstractContainer`
[code]

[2022-07-17 12:47] sdutry opened #281 "investigate reason for href on accordion component"

[2022-07-17 14:42] #272 closed, assigned to sdutry

[2022-07-17 20:56] sdutry opened #282 "investigate reason for attributes on Autocompleter"

[2022-07-17 20:59] sdutry commented on #282
attributes:
* size
* maxlength
* readonly

[2022-07-17 21:22] sdutry opened #283 "buttonset widget is deprecated - replace with controlgroup"

[2022-07-17 21:22] sdutry commented on #283
see : [buttonset](https://api.jqueryui.com/buttonset/)

`CheckboxList`

[2022-07-24 07:06] sdutry opened #285 "fix showcase > widget > dialog > dialog with buttons"

[2022-07-24 07:07] sdutry commented on #285
error with escaping:

[code]

[2022-07-24 07:21] #285 closed, assigned to nobody

[2022-07-25 06:57] #273 closed, assigned to sdutry

[2022-07-25 07:16] #276 closed, assigned to sdutry

[2022-07-25 07:25] #278 closed, assigned to sdutry

[2022-07-25 07:39] #279 closed, assigned to sdutry

[2022-07-25 07:49] #280 closed, assigned to nobody

[2022-07-31 11:38] sdutry commented on #283
internally controlgroup is being used
[code]
So not an issue, closing for now

[2022-07-31 11:38] #283 closed, assigned to nobody

[2022-08-01 20:55] #277 closed, assigned to sdutry

[2022-08-01 21:47] #227 closed, assigned to sdutry

[2022-08-01 21:47] #228 closed, assigned to sdutry

[2022-08-01 22:20] #224 closed, assigned to sdutry

[2022-08-02 09:04] #247 closed, assigned to sdutry

[2022-08-02 11:12] #248 closed, assigned to sdutry

[2022-08-02 12:04] sdutry opened #296 "Release version 5.0.0"

[2022-08-02 12:05] sdutry opened #297 "deploy new version of the showcase apps"

[2022-08-02 12:05] sdutry opened #298 "update wiki for new version"

[2022-08-04 05:07] sdutry opened #299 "update htmlunit-driver version to 3.63.0 and selenium java to 4.3.0"

[2022-08-17 06:55] afattahi54 opened #301 "Upgrade to Struts 6 and all tags failed to load"
We have upgraded from `Struts 2.5.30` to `Struts 6.0.0`. The project `Struts 2 jquery plugin version 4.0.3`.
When loading a page we face this error:

[code]

The stack trace cause is:

[code]

The line 22 in file `template/jquery/div.ftl` is as:

[code]

This issue happens in approximately all tags.

[2022-08-17 19:44] #299 closed, assigned to sdutry

[2022-08-25 12:45] sdutry opened #302 "fix datatables plugin"

[2022-08-25 14:23] sdutry commented on #301
We are currently working on a new release of the plugin which is compatible with verions 6.x.x of struts.

We are fixing some bugs that have come up and are nearing a stage where we can release the version.

[2022-08-25 15:27] #302 closed, assigned to sdutry

[2022-08-26 08:32] jogep commented on #198
@RicardoDias19 we just released a new version compatible with latest Struts2 6.0.0. Could you please try again?

[2022-08-26 08:32] #246 closed, assigned to nobody

[2022-08-26 08:33] #249 closed, assigned to nobody

[2022-08-26 08:33] jogep commented on #296
new version released https://twitter.com/jogep/status/1563081469697806337

[2022-08-26 08:33] #296 closed, assigned to jogep

[2022-08-26 08:34] jogep commented on #297
latest showcase apps are deployed.

[2022-08-26 08:34] #297 closed, assigned to jogep

[2022-08-26 08:40] jogep commented on #298
Wiki is updated

[2022-08-26 08:40] #298 closed, assigned to nobody

[2022-08-26 08:41] jogep commented on #301
Version 5.0.0 with support for Struts2 6.0.0 and fix included is released.

[2022-08-26 08:41] #301 closed, assigned to nobody

[2022-08-26 08:45] jogep commented on #271
Changes added to Wiki: https://github.com/struts-community-plugins/struts2-jquery/wiki/UpgradeGuide

[2022-08-26 08:45] #271 closed, assigned to sdutry

[2022-08-27 04:51] afattahi54 opened #304 "Version 5.0 error in template submit-close.ftl"
Thanks for new version :)

After upgrade to version 5.0.0, I face this error:

[code]

[2022-08-27 13:09] jogep commented on #304
@afattahi54 are you using Struts2 version 6.0.0 as the simple theme is provided by Struts itself.

[2022-08-27 13:12] afattahi54 commented on #304
Yes I have not set/change any struts defaults about theme

[2022-08-27 13:15] sdutry commented on #304
There was 1 PR merged with a ?no_esc instead of the Javascript escape tags
in the ftl file, needs to be changed tot fix it

Op za 27 aug. 2022 15:12 schreef afattahi54 ***@***.***>:

[2022-08-27 21:43] sdutry commented on #304
@afattahi54 do you have your own versions of Freemarker defined, or do you have custom settings for Freemarker defined.
(it's complaining about not having a default markup (escaping) format as output format)

Can you provide a (minimal) project setup to reproduce the issue?

[2022-08-28 04:11] afattahi54 commented on #304
@sdutry the below was set in freemaker.properties.

[code]

I removed and now it works.

Thanks!

[2022-08-28 04:11] #304 closed, assigned to nobody

[2022-08-29 13:00] afattahi54 opened #306 "After Update version 5 : The chart legend is black and the legend colors are not displayed"
I don't know if it is jQuery Flot component bug or some thing else.

I have upgrade to version 6, after that the legend area is shown in black

![image](https://user-images.githubusercontent.com/5003703/187206025-d2243798-c63b-401b-ad0d-b7b0b50a3c13.png)

This was fixed by below css ( this fix was no necessary in older version)
[code]

However, after applying this fix , the legend is displayed but

[2022-08-30 09:49] afattahi54 opened #307 "Set the guiStyle of sjg:grid"
I found that there is a property named `guiStyle` in `free-jqgrid`.
Is it possible to set this parameter is ` sjg:grid`.

[2022-08-30 09:56] jogep commented on #306
@afattahi54 sounds like a jQuery flot issue to me as it is also reported by others.

https://github.com/flot/flot/issues/1708

[2022-09-13 12:53] Dcosmas opened #308 "@id with dynamic variable doesn't work anymore"
Since release 5.0.0 we can't have multiple dialog

[code]
**title** param will be correct --> Testing 1, Testing 3 etc...
but **id** will be dialog%{#status.index} whereas dialog1, dialog2 etc...

what did i miss? Is it a real bug ? or new feature ? :)

[2022-09-13 12:57] lukaszlenart commented on #308
`id` has to be unique in the whole document, see [docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id) so this is ok

[2022-09-13 13:03] Dcosmas commented on #308
no problem for it to be unique. I just want to generate it myself.
Or could you explain to me how to have several dialogs in the same page ?
Again with last version of the plugin (4.0.3) this code worked fine and generate one dialog@id by concate the string "dialog" and the variable "%{#status.index}".

[2022-09-13 13:07] lukaszlenart commented on #308
Hmmm ... I do not understand, you can change `<sj:dialog id="my_dialog_%{#status.index}_id"` to have your own id, or did you mean that now you get `dialog%{#status.index}` instead of `dialog1`, `dialog2`,...?

[2022-09-13 13:11] Dcosmas commented on #308
Absolutely, I mean that now I get dialog%{#status.index} instead of dialog1, dialog2

[2022-09-13 13:13] lukaszlenart commented on #308
So this is a bug

[2022-09-13 13:14] lukaszlenart commented on #308
Could you try to use `id="%{'dialog' + #status.index}"`?

[2022-09-13 13:18] Dcosmas commented on #308
not better :/
And I have the same problem with sj:datepicker

but thanks for the try :)

[2022-09-13 14:55] sdutry commented on #308
I think i spotted the problem, i'll create a PR for it.

[2022-09-13 15:07] lukaszlenart commented on #308
@sdutry you can use [`parameters.escapedId`](https://github.com/apache/struts/blob/master/core/src/main/java/org/apache/struts2/components/UIBean.java#L1035) instead of `parameters.id`

[2022-09-14 10:11] boris-petrov opened #311 "Struts 6 issue with `escapeAmp`"
I updated my Struts version to 6 and struts2-jquery-plugin to 5 (and struts2-bootstrap-plugin to 5 but I don't think that's relevant). I'm having troubles with the `escapeAmp` functionality. The following code:

[code]

Worked fine in Struts 2.5.30. Upgrading to Struts 6, I noticed first that `id="link%{id}"` had stopped working - that string was used literally as the `id` and wasn't working as ex

[2022-09-17 08:20] #308 closed, assigned to sdutry

[2022-09-21 14:23] Dcosmas commented on #311
Will this fix be in 5.0.1?

[2022-09-21 17:21] amellie opened #313 "Version 5.0: tabbedpanel is no longer working due to deprecated jqXHR.success"
``<sj:tabbedpanel>`` is no longer working with the following JS error:

`Uncaught TypeError: e.jqXHR.success is not a function`

This is due to the ``qXHR.success`` function used in [jquery.ui.struts2.js](https://github.com/struts-community-plugins/struts2-jquery/blob/c60a30c2533e1d63476a372bf326754477d17a03/struts2-jquery-plugin/src/main/resources/template/js/struts2/jquery.ui.struts2.js#L382) wh

[2022-09-22 10:05] Dcosmas opened #314 "Incompatibility with struts-annotation ?"
Since I got struts2-jquery-plugin 5.0.0, I have a dependency with struts-annotation1.0.7.
When I want to build a project that contains a custom taglib I get the message:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project XXX: Fatal error compiling: java.lang.IllegalArgumentException: 'tlibVersion' is missing -> [Help 1]
    at

[2022-09-22 10:08] lukaszlenart commented on #314
It's a problem with your configuration, you must provide `tlibVersion` parameter as here
https://github.com/apache/struts/blob/master/core/pom.xml#L111

[2022-09-22 12:03] Dcosmas commented on #314
thanks a lot !!!! Have a nice day ! :)

[2022-09-22 15:46] amellie opened #315 "Version 5.0: URL in the href attribute of the sjt:tree tag is escaped"
Hi all,

I have the following code working before the upgrade to 5.0.0, however, the URL ``myUrl`` is escaped in 5.0.0. Instead of `/data/myAction.html?id1=xx&id2=yy`, it is trying to make a request to `/data/myAction.html?id1=xx&amp;id2=yy` (with the `&amp;`) which is incorrect

[code]

Any ideas how to get this working?

[2022-09-22 18:05] lukaszlenart commented on #315
Looks the same as #311 which was already addressed

[2022-09-28 16:27] matorodriguez opened #316 "Struts 6.0.3 + struts2-jquery-plugin 5.0.0 = exception on initialization"
hi! I'm getting the following warning:

`[WARN ] 2022-09-26 22:46:37.547 [main] (DomHelper.java:355) - Local DTD is missing for publicID: -//Apache Software Foundation//DTD Struts Configuration 2.6//EN - defined mappings: {-//Apache Software Foundation//DTD Struts Configuration 2.0//EN=struts-2.0.dtd, -//Apache Software Foundation//DTD Struts Configuration 2.1//EN=struts-2.1.dtd, -//Apache Softwar

[2022-09-29 08:35] Dcosmas commented on #311
Hi, the same bugs exists with grid :(  (I tried with 5.0.1-SNAPSHOT)

I think in grid-close.ftl we have :

<#if parameters.href??>
	options_${escapedOptionId}.url = "${parameters.href?string}";
  </#if>

instead of :

<#if parameters.href! != "">
      options_${escapedOptionId}.url = "<#outputformat "JavaScript">${parameters.href}</#outputformat>";
</#if>

  What do you think ?

  Thanks again fo

[2022-09-29 16:57] lukaszlenart commented on #311
@Dcosmas I think you are right, see #317

[2022-10-02 05:26] afattahi54 commented on #316
Same error with `Struts 6.0.3`  and `struts2-jquery-plugin 5.0.0`

[code]

[2022-10-02 06:38] lukaszlenart commented on #316
@afattahi54 please double check if you are using proper versions of all the Struts dependencies as this was already addressed in 6.0.3

[2022-10-02 11:39] afattahi54 commented on #316
Dear @lukaszlenart  I have rechecked and it is struts 6.0.3.

This is the `pom.xml`

[code]
This is what i see int the log

[code]

As you can see it is using `struts2-velocity-plugin-6.0.0.jar`. It seems that `struts2-velocity-plugin` is loaded by `struts2-jquery-plugin` as dependency.

Here is screen from eclipse dependency hierarchy

![image](https://user-images.githubusercontent.com/5003703/19

[2022-10-02 11:55] matorodriguez commented on #316
@afattahi54 <https://github.com/afattahi54> it's the same versions I
reported

El dom., 2 de octubre de 2022 02:26, afattahi54 ***@***.***>
escribió:

[2022-10-12 13:53] Dcosmas commented on #311
Almost Same problem with action.ftl line 31, "" are missing.

[2022-10-13 07:08] lukaszlenart commented on #311
@Dcosmas done

[2022-10-13 08:02] #311 closed, assigned to nobody

[2022-10-13 16:27] jogep commented on #307
@afattahi54 just released version 5.0.1 with support for `guiStyle` and `iconSet` options.

[2022-10-13 16:27] #307 closed, assigned to jogep

[2022-10-19 07:54] afattahi54 commented on #316
I have updated to `struts2-jquery-plugin 5.0.1` and the error seems to be fixed

[2022-10-25 08:56] amellie commented on #315
I can confirm that this is fixed in 5.0.1

[2022-10-25 08:56] #315 closed, assigned to nobody

[2022-10-25 13:26] hymiliat commented on #142
The <sj:head/> generates <scripts> added to the html page.
Due to Struts new CSP Interceptor, all scripts must add a "nonce" parameter in order to be loaded by the browser. Thankfully, Struts also implemented a new <s:script/> tag which adds this nonce parameter automatically.

More details here: https://github.com/apache/struts/pull/430

Solution: Can you please make sure that the <sj:head> gener

[2022-10-27 11:32] B34v0n opened #319 "Autocompleter ignores LoadMinimumCount"
The way I understand the "loadMinimumCount" Attribute for the Autocompleter is, that it doesn't load the autocompletion until the number of characters in the attribute is reached. That's how it worked in Version 4.0.3.
I tested it with the "struts2-jquery-showcase". Click on Widgets, Autocompleter, AutocompleterJSON. (Because there, the "loadMinimumCount" is set to 2.
In the new Version on the Web

[2022-10-27 11:44] B34v0n commented on #319
![autocomplete](https://user-images.githubusercontent.com/88542001/198275506-9db042f3-e740-421e-aaca-b05e474894de.gif)

[2022-11-07 12:56] Dcosmas opened #320 "Issue with sj:dialog @title"
In dialog title we can have plain text so in line 53 in dialog-close.ftl I think we should have :

options_${escapedOptionId}.title = "<#outputformat "JavaScript">${parameters.title}</#outputformat>";

instead of

options_${escapedOptionId}.title = "${parameters.title}";

In my case with french word like "l'annuaire" I had "l& # 3 9 ; annuaire" :(

[2022-11-07 12:59] lukaszlenart commented on #320
Probably you are right, but I don't see a difference tbh

[2022-11-07 13:00] Dcosmas commented on #320
github wysywyg translate &#39 ; lol

[2022-11-11 04:29] Mori0005 opened #321 "Issue on sj:datepicker tag on Struts2 6.0.x version"
It seems i cannot get /struts/js/calendar.gif image when i use
<sj:datepicker> tag.
Would anyone help on this ?

[2022-11-11 08:47] lukaszlenart commented on #321
I already answered your question in https://lists.apache.org/thread/j1gjsz942ko0l8g5g1glwm17boh06ml8

[2022-11-11 08:47] #321 closed, assigned to nobody

[2022-11-11 09:01] Mori0005 commented on #321
Hi,
Thanks for your advice.
I understand Static content is served from /static path now.
However, the issue is sj:datepicker tag tries to get calendar.gif from /struts/js/calendar.gif.
My Struts2-jquery version is latest 5.0.1
How can I avoid this issue ?

[2022-11-11 14:38] lukaszlenart commented on #321
As far I see the problem is already fixed, but not released yet e49cbea88f5a40a135bf85a5ed1074820b21fd24 - you can define `buttonImage` attribute pointing to `./static/js/calendar.gif` (depending on your context use a proper prefix)
https://github.com/struts-community-plugins/struts2-jquery/wiki/DatePickerTag

[2022-11-11 18:29] Mori0005 opened #322 "jqgrid row id issue"
Hi,

I found jqgrid table row id becomes strange behavior.

Struts2 2.5.x  :  event.originalEvent.id = 1,2,3...

Struts2 6.0.1 :  event.originalEvent.id = jpg1,jqg2,jpg3...

Also, If I refresh the data of the table, (20 rows per page), id becomes as the following:
event.originalEvent.id = jpg21,jqg22,jpg23...

and then after another refresh..
event.originalEvent.id = jpg41,jqg42,jpg43...

it seems

[2022-11-14 04:21] Mori0005 commented on #321
Great, thx!

[2022-11-28 18:55] #314 closed, assigned to nobody